.search{
    display: flex;
    padding: 2%;
    justify-content: space-between;
}
.search input{
    padding-right: 200px;
}
.search form{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.container-table-inputs .table-categories{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-x: auto;
}
.container-table-inputs .table-categories table{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed; /* Asegura que las celdas se distribuyan de manera uniforme */
    word-wrap: break-word;
}
.container-table-inputs .table-categories table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}

.container-table-inputs .container-inputsCat{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
    
}

.container-table-inputs .container-inputsCat .agregar-cat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
    height: 450px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.container-table-inputs .container-inputsCat .agregar-cat .inputCat-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}
.container-table-inputs .container-inputsCat .agregar-cat .form-cat{
    width: 100%;
    height: auto;
}
.container-table-inputs .container-inputsCat .agregar-cat .form-cat  .agregar-categorias{
    width: 100%;
    height: 255px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container-table-inputs .container-inputsCat .form-cat .agregar-categorias .input-contenido{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    
}
.container-table-inputs .container-inputsCat .agregar-cat .btn-agregar-cate{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
    gap: 15px;
}
.container-table-inputs .container-inputsCat .agregar-cat .btn-agregar-cate .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container-table-inputs .container-inputsCat .agregar-cat .btn-agregar-cate .img-btn-add{
    width: 220px;
    height: 40px;
}
.container-table-inputs .container-inputsCat .agregar-cat .btn-agregar-cate .btn-agregar .btn-cancel{
    width: 100px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;
}
.container-table-inputs .container-inputsCat .agregar-cat .btn-agregar-cate .btn-agregar .btn-cancel:hover{
    background-color: #CF697B;
    color: #fff;
}
.container-table-inputs .container-inputsCat .agregar-cat .btn-agregar-cate .btn-agregar .btn-cat-agregar{
    border: none;
    color: white;
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
}
.container-table-inputs .container-inputSubcat .btn-agregar-subcategorias .btn-agregar .btn-sun-agregar:hover{
    background-color: #229e6a;
    color: #fff;
}

.opacity{
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: not-allowed;
}



.btn-modal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    margin: 10px 10px 0px 0px;;    
}
.btn-modal button:nth-child(1){
    background-color: #595959;
}
.btn-agregar button:nth-child(1){
    background-color: #595959;
}

/* Modal editar */
.modal-cat {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Contenido del Modal */
  .modal-cat .modal-content-cat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -40%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
    height: 460px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .modal-cat .modal-content-cat .categoria-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
  }
  .modal-cat .modal-content-cat .input-categories{
    height: 285px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: 1px;  /* IE 10+ */
    &::-webkit-scrollbar-track {
        background-color: #d7ffda;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F3F2F8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c7f7ca;
        border-radius: 10px;
        border: 3px solid #F3F2F8;
    }
  } 
  .modal-cat .modal-content-cat  .input-categories .input-contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .modal-cat .modal-content-cat .input-categories .input-contenido textarea{
    width: 100%;
    height: 100px;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .modal-cat .modal-content-cat  .input-categories #descripcion_editar{
    height: 85px;
  } 

  .modal-cat .modal-content-cat .btn-modal-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
    border-top: 1px solid #000;
    padding-top: 18px;
  }
.modal-cat .modal-content-cat .btn-modal-cat .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .modal-cat .modal-content-cat .btn-modal-cat .img-modal{
    width: 200px;
    height: 40px;    
  }

.modal-cat .modal-content-cat .btn-modal-cat .btn-agregar .btn-sub-eliminar{
    width: 100px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;    
  }
 .modal-cat .modal-content-cat .btn-modal-cat .btn-agregar .btn-sub-eliminar:hover{
    background-color: #CF696B;
    color: #fff;
  }
  .modal-cat .modal-content-cat .btn-modal-cat .btn-agregar .btn-sun-agregar{
    border: none;
    color: white;   
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;    
    border-radius: 5px;
  }
.modal-cat .modal-content-cat .btn-modal-cat .btn-agregar .btn-sun-agregar:hover{
    background-color: #229e6a;
    color: #fff;
  }
  
  /* Botón de cierre (X) */
  .close {
    color: #aaa;
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Ocultar tabla */
.hidden{
    display: none;
}
.error{
    color: #f84444;
    margin: 10px;
    font-size: smaller;
}
.opacity{
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: not-allowed;
}
/* -- busqueda --*/
.busqueda {
	width: 100%;
    height: 75px;
    /* background-color: #F3F2F8; */
  background-color: hsl(0, 0%, 100%);

    border-radius: 15px;
    margin-top: 20px;

}
.search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 50px;
  }
  .seccion-buscar{
    width: 30%;
    height: 45px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    background-color: #F3F2F8;
  
  }
  .input-search{
    width: 100%;
    height: 45px;
    padding-left: 20px;
    background-color: #F3F2F8;
    outline: none;
    border: none;
    border-radius: 10px;
  
  }