.all-screen-plantas{
    width: 100%;
    height: auto;
}
.container-table-inputs{
    width: 100%;
    height: 65vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: hsl(0, 0%, 100%);
  }
.container-table-inputs .table-Compra{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-x: auto;
    overflow-y: auto;
}
.container-table-inputs .table-Compra table{
    width: 100%;
    max-width: 90%;
    border-collapse: collapse;
    text-align: center;
}
.container-table-inputs .table-Compra table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}
.btn-detalle-compra{
    border-radius: 16px;
    font-weight: bold;
    background-color: #b1e7dc;
    width: 120px;
    height: 35px;
    color: #000;
    border: none;
    cursor: pointer;
}
.btn-detalle-compra:hover{
    background-color: #0ca358;
    color: #fff;
}
.container-table-inputs .container-inputCompra{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;

}
.container-table-inputs .container-inputCompra .nueva-compra{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-40%, -48%); /* Centra el modal */
   background-color: #fff;
   padding: 0px 50px;
   border-radius: 8px;
   width: 100%;
   max-width: 1400px;
   height: 780px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   overflow-y: auto;
   scrollbar-width: none;
}
.container-table-inputs .container-inputCompra .inputCompra-title{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
 }
 .container-table-inputs .container-inputCompra .form-compra{
    width: 100%;
    height: auto;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra{
    display: grid;
    grid-template-rows:.1fr .1fr .1fr 1fr 0.1fr;
    gap: 20px;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .inputs-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .inputs-cont .rows-1-cont{
    width: 35%;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .inputs-cont .row-1-cont{
    width: 22%;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .inputs-cont .row-1-cont #fecha_compra{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background-color: transparent;
    border: none;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .row-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
    gap: 8px;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .row-3 .row-3-cont{
    width: 40%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 65px;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .row-3 .row-3-cont div{
    width: 38%;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .row-3 div{
    width: 19%;
    
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .agregar_producto-compra{
    width: 15%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 17px;
 }
 
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .inputs-compra{
    width: 100%;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #F3F2F8;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .productos-compra{
    width: 100%;
    height: 225px;
    overflow-y: auto;
 }
 .container-table-inputs .container-inputCompra .form-compra .inputs-compra .productos .table-compra{
   width: 100%;
   border-collapse: collapse;
   font-family: Arial, sans-serif;
   background-color: #949494;
   border: 1px solid #ddd;

 }
 .tabla-compra thead, .tabla-compra tbody{
   width: 100%;
 }

.tabla-compra th, .tabla-compra td {
   text-align: left;
   padding: 12px;
   border: 1px solid #ddd;
}

.tabla-compra th {
   width : 25%;
   background-color: #F3F2F8;
   color: #000;
   font-weight: bold;
}

.tabla-compra tr:nth-child(even) {
   background-color:    #f2f2f2;
}

.tabla-compra tr:hover {
   background-color: #ddd;
}

.tabla-compra td:last-child {
   text-align: center;
}
 .container-table-inputs .container-inputCompra .btn-agregar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
    padding-top: 10px;
    border-top: 1px solid #000;
    margin-bottom: 10px;
 }
 .container-table-inputs .container-inputCompra .btn-agregar .logo-btn-add{
    width: 220px;
    height: 40px;
  }
  
  .container-table-inputs .container-inputCompra .btn-agregar .btn{
    width: 150px;
    border-radius: 15px;
  }
  .container-table-inputs .container-inputCompra .btn-agregar .btn-cancel{
    width: 120px;
    background-color: #CF696B;
    
  }
  .inputs-hidden{
   display: none;
  }
 

  /* MODAL DETALLE COMPRAS */
  /* Modal */
.modal-detalle-compras {
   display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    overflow: auto;
}

.modal-content-compras {
   background-color: #fff;
   margin: 10% auto;
   padding: 20px;
   border-radius: 10px;
   max-width: 700px;
   height: 500px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   animation: fadeIn 0.3s ease;  
}

/* Título del modal */
.detalle-title {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   border-bottom: 1px solid #000;
   margin-bottom: 25px;
 }
 
 .detalle-title h2 {
     font-size: 1.2rem;
     color: #333;
     margin: 0;
 }
 
 .compras-content{
   width: 100%;
   height: 65%;
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
 }
 .devoluciones-content .detalle-compra-info{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
 }
 .devoluciones-content .detalle-compra-info input{
   width: 50%;
   height: 40px;
   padding: 10px;
   border-radius: 10px;
   border: none;
   font-size: 18px;
   font-weight: bold;
 }

/* Tabla */
#detalle-compra-table {
   width: 100%;
   border-collapse: collapse;
   margin: 20px 0;
   font-size: 16px;
   text-align: left;
}

#detalle-compra-table th,
#detalle-compra-table td {
   border: 1px solid #ddd;
   padding: 8px;
}

#detalle-compra-table th {
   background-color: #F3F2F8;
   color: #000;
}

#detalle-compra-table tr:nth-child(even) {
   background-color: #f3f3f3;
}

#detalle-compra-table tr:hover {
   background-color: #d1e7dd;
   cursor: pointer;
}
#detalle-compra-body{
    overflow-y: auto;
}

/* Botones */
.btn-cancelar {
   background-color: #d9534f;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.btn-cancelar:hover {
   background-color: #c9302c;
}
