*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 100%;
    height: 100vh;
    background-color: #ebffe8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-conteiner{
    width: 850px;
    height: 55vh;
    border: 1px solid #000;
    display: grid;
    grid-template-columns:  0.9fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 25px;
    
    border-bottom: none;
    

}
.form-conteiner .registrarse{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}
.form-conteiner .registrarse .conteiner-img-logo, .conteiner-titulo, .conteiner-img-flores{
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-conteiner .registrarse .conteiner-img-logo img{
    width: 90%;
    height: auto;
}
.form-conteiner .registrarse .conteiner-titulo h2{
    font-family:Georgia;
    color: #288830;
    font-size:26px ;
}
.form-conteiner .registrarse .conteiner-img-flores img{
    width: 100%;
    height: 100%;
}

.form-conteiner .iniciar-sesion{
    width: 100%;
    height: 100%;
    background: rgb(42,116,71);
    background: linear-gradient(180deg, rgba(42,116,71,1) 0%, rgba(0,67,27,1) 68%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px;
}
.form-conteiner .iniciar-sesion .conteiner-icono{
    color: #fff;
    font-family: Georgia;
}
