.all-screen-insumos{
    width: 100%;
    height: auto;
}

/*Tabla de insumos*/
.container-table-inputs{
  width: 100%;
  height: 70vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: hsl(0, 0%, 100%);
}
.container-table-inputs .table-insumos{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow-x: auto;
  overflow-y: auto;

}
.container-table-inputs .table-insumos table{
  width: 90%;
  max-width: 90%;
  border-collapse: collapse;
  text-align: center;
}
.container-table-inputs .table-insumos table thead{
  width: 100%;
  height: 55px;
  text-align: center;
}
/*Formulario*/
.container-table-inputs .container-inputinsumos{
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}
/*Aplciamos el grid, las diviciones*/
.container-table-inputs.active{
  grid-template-columns: 2fr 1fr;
}
.container-inputinsumos.show {
  display: flex; /* Muestra el formulario al activar la clase 'show' */   
}
.container-table-inputs .container-inputinsumos .inputinsumos-title{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container-table-inputs .container-inputinsumos .form-insumos{
  width: 100%;
  height: auto;
}
.container-table-inputs .container-inputinsumos .form-insumos  .inputs-insumos{
  display: flex;
  flex-direction: column;
  gap: 35px;
  font-weight: bold;
}
.container-table-inputs .container-inputinsumos .form-insumos .inputs-insumos .input-insumos{
  width: 100%;
  margin-top: 8px ;
}
.container-table-inputs .container-inputinsumos .btn-agregar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 35px;
  gap: 15px;
}

/* Modal editar */
.modal-insumos {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Contenido del Modal */
  .modal-content-insumos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -42%); /* Centra el modal */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 950px;
    height: 684px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: none;
  }
  .modal-content-insumos .form_edit_insumo{
    width: 100%;
    height: 80%;

  }
  .modal-content-insumos .inputs-insumos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
  } 
  .modal-content-insumos .inputs-insumos .input-insumos{
    width: 100%;
    margin-top: 8px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
  }
  .modal-content-insumos .input-categories #descripcion_editar{
    height: 85px;
  } 




