/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #efeeee;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 1% 5%;
}
.navbar p{
    color: #006834;
}
.navbar img {
    width: 250px;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #3bb64a;
    width: 250px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 0px 0px;
    align-items: center;
    justify-content: flex-start;
}
.sidebar .items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.sidebar li{
    list-style: none;
    padding-left: 10%;
    padding-top: 5%;
}
.sidebar button{
    background: none;
    border: none;
    padding: 4px;
    font: inherit;        
    color: inherit;
    border-radius: 5px;
}
.sidebar button:hover{
    background-color: #d0fcd8;
    color: gray;
}
.sidebar a{
    color: white;
    padding: 2.8%;
    text-decoration: none;
}
.sidebar a:hover{
    background-color: #d0fcd8;
    border-radius: 5px;
    padding: 2.8%;
    color: gray;
}
.btn-items{
    display: flex;
    align-items: center;
    gap: 8px;
}
.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
    color: gray;
}
.options{
    display: none;
}
