
/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
 }

.all-screen{
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: grid; 
    grid-template-columns: 0.3fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
		"sidebar navbar navbar"
        "sidebar main main"
		"sidebar main main";
        transition: grid-template-columns 1s ease;
  }
  /*-- sidebar --*/
.sidebar {
    grid-area: sidebar;
    background-color: #3BB64A;
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.1fr;
    transition: transform 2s ease, width 1s ease;
}
/* Ocultar Sidebar */
.sidebar.hidden {
    transform: translateX(-100%); /* Desplaza el sidebar fuera de la pantalla */
}

.all-screen.hidden-sidebar {
    margin-left: 0; /* Elimina el espacio del sidebar */
    max-width: 100%;
    height: 100vh;
    grid-template-columns:1fr; /* Ajustar la rejilla */
    grid-template-rows: 1fr; /* Ajustar la rejilla */
    gap: 0px 0px; /* Ajustar el espacio entre los elementos */
    grid-template-areas:
		"navbar navbar navbar"
        "main main main"
		"main main main";
    overflow: hidden;
    transition: grid-template-columns 1s ease;
}

.sidebar-titulo-user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 13px;
}
.items {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 30px 10px 30px 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff #3bb64a;
}


/* .items-back {
    background-color: #2EAC3D;
    border-radius: 16px;
} */
.btn-items {
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #3BB64A;
    border: none;
    /* border-radius: 16px; */
    padding: 10px 10px 20px 10px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
.btn-items:hover {
    background-color: #2EAC3D;
}
.btn-items-inicio{
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #2EAC3D;
    border: none;
    border-radius: 16px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.btn-items-inicio i {
    font-size: 22px;
    display: flex;
    justify-content: start;
}
.btn-items-inicio a {
    text-decoration: none;
    color: #fff;
}
.btn-items-inicio .btn_texto {
    display: flex;
    justify-content: start;
    font-size: 15px;
}
.btn-items-inicio .key{
    display: flex;
    justify-content: end;
    align-items: center;

}
.btn-items-config {
    display: grid;
    grid-template-columns: 0.4fr 2fr ;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #3BB64A;
    border: none;
    color: #fff;
}
.btn-items-config p {
    display: flex;
    justify-content: start;
    font-size: 15px;
}

.btn-items i {
    font-size: 22px;
    display: flex;
    justify-content: start;
}
.btn-items a {
    text-decoration: none;
    color: #fff;
}
.btn-items .btn_texto {
    display: flex;
    justify-content: start;
    font-size: 15px;
}
.btn-items .key{
    display: flex;
    justify-content: end;
    align-items: center;

}
.options {
    display: none;
}
.list-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 25px;
    border-radius: 0px 0px 16px 16px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.list-options li {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.list-options li:hover {
    background-color: #2EAC3D;
}
.list-options li a {
    display: block;
    width: 100%;
    color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
	cursor: pointer;
    font-size: 14px;
    padding: 12px;
}
/* -- seccion-wrapper --*/
.seccion-wrapper {
    /* background-color: #F3F2F8; */
    /* background-color: #e9e8ee; */
    background-color: #d7dae4;
}

/* -- navabar --*/
.navbar {
    grid-area: navbar;
    width: 100%;
    height: 7%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    /* background-color: #F3F2F8; */
  background-color: hsl(0, 0%, 100%);
}
.navbar img {
    width: 220px;
}
.fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.navbar-content i{
    font-size: 22px;
    cursor: pointer;
}

.navbar .fecha-btnlogout{
   
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;
}
.navbar .fecha-btnlogout .btn-logout{
    width: 110px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
.navbar .fecha-btnlogout .btn-logout:hover{
    background-color: #f5f3f3;
}



/* -- main --*/
.main {
    grid-area: main;
    width: 100%;
    height: 93%;
    padding: 18px;
}



/* Botones */
.btn{
    border: none;
    color: white;
    /* background-color: #2db87e; */
    border-radius: 3px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}
.btn:hover{
    background-color: #178658;
}

/* Botones de acciones para las tablas */
.btn-acciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-acciones button{
    border: none;
    padding: 4px;
    margin: 2px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.btn-acciones button.btn-edit {
    background-color: #0b63f8;
}
.btn-acciones form button.btn-delete {
    background-color: #f84444;
}

/* Boton para el buscador */
.btn-search{
    border: none;
    color: #595959;
    background-color: inherit;
}
.btn-search:hover{
    color: #006834;
}

/* Inputs */
.input{
    border: 1.5px solid #595959;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    background-color: white; 
}
.input:focus{
    outline: none;
}

/* Tabla container, para el despalazamiento */
.table-container{
    padding-left: 22%;
    transition:all 0.9s ease;
}
.table-container-add{
    transition:all 0.6s ease;
}


/* Formato de la tabla */
.table {
    border-collapse: collapse;
    background-color: white;
    margin: 20px 0;
    border: none;
}
.table th, td {
    border: none;
    padding: 11px;
    text-align: center;
}
.table td:nth-child(1) {
    font-weight: bolder;
}
.table td:nth-child(2) {
    width: 100px;
}
.table td:nth-child(3) {
    width: 350px;
}
/* Estilo para los encabezados de la tabla */
.table th {
    font-weight: bold;
}
.table tbody tr{
    border-bottom: 1px solid #ddd;
}
.table thead tr {
    border-bottom: 3px solid #ddd;
}

.sidebar .configuracion {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    width: 100%;
    height: 65px;
}

.sidebar .configuracion .btn-items-config .item{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


.spanobligatorio{
    color: red;
    font-size: 12px;
}
.contenedor-obligatorio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.eye{
    cursor: pointer;
}

.bienvenida div h2, .seccion div p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}


.modulo-container{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding-right: 35px;
}
.modulo-container h3{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

.input-tabla{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
}

/*MEDIA QUERIES*/
/* Estilos para dispositivos móviles pequeños (pantallas menores a 576px) */
@media (max-width: 576px) {
    .all-screen {
        grid-template-columns: 1fr; /* Elimina la barra lateral */
        grid-template-areas:
            "navbar"
            "main";
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.visible {
        transform: translateX(0); /* Muestra el sidebar */
    }

    .navbar {
        justify-content: space-between;
        padding: 10px;
    }

    .navbar .fecha-btnlogout {
        flex-direction: column;
        gap: 10px;
    }

    .main {
        padding: 10px;
        font-size: 14px; /* Reduce el tamaño de fuente en el contenido principal */
    }

    .btn {
        width: 100%; /* Botones ocupan el ancho completo */
        padding: 10px;
    }

    .table-container {
        padding-left: 0; /* Ajuste de márgenes */
    }

    .table th, .table td {
        font-size: 12px; /* Fuente más pequeña en tablas */
    }

    .btn-items, .btn-items-inicio, .btn-items-config {
        grid-template-columns: 0.6fr 1fr; /* Ajuste de columnas en botones */
    }
}

/* Estilos para dispositivos móviles medianos (pantallas entre 576px y 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .all-screen {
        grid-template-columns: 1fr; /* Sidebar oculto por defecto */
        grid-template-areas:
            "navbar"
            "main";
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        max-width: 300px;
        height: 100vh;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.visible {
        transform: translateX(0); /* Muestra el sidebar */
    }

    .main {
        padding: 15px;
        font-size: 16px; /* Fuente ligeramente más grande */
    }

    .navbar {
        padding: 15px;
    }

    .table th, .table td {
        font-size: 14px; /* Ajuste de fuente en tablas */
    }
}

/* Estilos para tabletas (pantallas entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .all-screen {
        grid-template-columns: 0.5fr 1.5fr; /* Sidebar más pequeño */
        grid-template-areas:
            "sidebar sidebar navbar"
            "sidebar sidebar main";
    }

    .sidebar {
        width: 200px;
        overflow-y: auto;
    }

    .navbar {
        padding: 10px;
    }

    .main {
        padding: 20px;
        font-size: 18px; /* Tamaño de fuente ajustado */
    }

    .btn {
        padding: 12px;
        font-size: 14px;
    }
}

/* Estilos para pantallas grandes (mayores a 1024px) */
@media (min-width: 1024px) and (max-width: 1919px) {
    .all-screen {
        grid-template-columns: 0.5fr 1.7fr; /* Layout normal */
        grid-template-areas:
            "sidebar navbar"
            "sidebar main";
    }

    .sidebar {
        transform: none; /* Sidebar siempre visible */
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 12px; /* Tamaño de fuente ajustado */
        padding: 5px;
    }
    .sidebar .configuracion .btn-items-config .item{
        font-size: 12px;
        
    }

    .sidebar-titulo-user {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        color: #fff;
        border-bottom: 1px solid #fff;
        font-size: 11px;
    }
    .sidebar-titulo-user h2{
        font-size: 13px;
    }
    .sidebar-titulo-user p{
        font-size: 10px;
    }
    .items {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 20px 5px 20px 5px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #fff #3bb64a;
    }
    .btn-items {
        display: grid;
        grid-template-columns: 0.6fr 2fr 1fr;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #3BB64A;
        border: none;
        /* border-radius: 16px; */
        padding: 10px 10px 20px 10px;
        color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        gap: 10px;
    }
    .btn-items-inicio{
        display: grid;
        grid-template-columns: 0.6fr 2fr 1fr;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #2EAC3D;
        border: none;
        border-radius: 16px;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        gap: 10px;
    }
    .btn-items:hover{
        background-color: #2EAC3D;
        color: #fff;
        border-radius: 16px;
        border: none;
    }
    .btn-items-inicio i {
        font-size: 15px;
        display: flex;
        justify-content: start;
    }
    .btn-items-inicio a {
        text-decoration: none;
        color: #fff;
    }
    .btn-items-inicio .btn_texto {
        display: flex;
        justify-content: start;
        font-size: 13px;
    }
    .btn-items-inicio .key{
        display: flex;
        justify-content: end;
        align-items: center;
    
    }
    .btn-items-config {
        display: grid;
        grid-template-columns: 0.4fr 2fr ;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #3BB64A;
        border: none;
        gap: 10px;
        color: #fff;
    }
    .btn-items-config p {
        display: flex;
        justify-content: start;
        font-size: 13px;
    }
   
    .btn-items i {
        font-size: 15px;
        display: flex;
        justify-content: start;
    }
    .btn-items a {
        text-decoration: none;
        color: #fff;
    }
    .btn-items .btn_texto {
        display: flex;
        justify-content: start;
        font-size: 12px;
    }
    .btn-items .key{
        display: flex;
        justify-content: end;
        align-items: center;
    
    }
    .options {
        display: none;
    }
    .list-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding-left: 8px;
        border-radius: 0px 0px 16px 16px;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .list-options li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-options li:hover {
        background-color: #2EAC3D;
    }
    .list-options li a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 12px;
        padding: 12px;
    }

    /*NAVBAR*/
    .navbar {
        padding: 15px;
    }
    .navbar img{
        width: 180px;
    }
    .navbar .fecha-btnlogout {
        flex-direction: row;
        gap: 15px;
        align-items: center;
        font-size: 13px;
    }
    .navbar .fecha-btnlogout .btn-logout{
        width: 90px;
        height: 25px;
        border: 1px solid #000;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        font-size: 12px;
    }
    .navbar .fecha-btnlogout .btn-logout:hover{
        background-color: #f5f3f3;
    }

    /*main*/

    .main {
        padding: 20px;
        font-size: 20px; /* Fuente más grande */
    }

    .table th, .table td {
        font-size: 13px; /* Tablas con tamaño de fuente normal */
    }

    .btn {
        padding: 15px;
        font-size: 13px;
    }

    /*plantas*/
    .busqueda .search .seccion-buscar{
        width: 60%;
        height: 60%;
    }
    .busqueda .search .seccion-buscar .input-search{
        width: 100%;
        height: 100%;
    }
    .busqueda .search .btn-add-planta{
        width: 120px;
        border-radius: 16px;
        font-size: 12px;
    }

}
/* Estilos para pantallas grandes (mayores a 1024px) */
@media (min-width: 1921px) and (max-width: 1440px) {
    .all-screen {
        grid-template-columns: 0.4fr 1.7fr; /* Layout normal */
        grid-template-areas:
            "sidebar navbar"
            "sidebar main";
    }

    .sidebar {
        transform: none; /* Sidebar siempre visible */
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 12px; /* Tamaño de fuente ajustado */
        padding: 5px;
    }
    .sidebar .configuracion .btn-items-config .item{
        font-size: 12px;
        
    }

    .sidebar-titulo-user {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        color: #fff;
        border-bottom: 1px solid #fff;
        font-size: 11px;
    }
    .sidebar-titulo-user h2{
        font-size: 13px;
    }
    .sidebar-titulo-user p{
        font-size: 10px;
    }
    .items {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 20px 5px 20px 5px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #fff #3bb64a;
    }
    .btn-items {
        display: grid;
        grid-template-columns: 0.6fr 2fr 1fr;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #3BB64A;
        border: none;
        /* border-radius: 16px; */
        padding: 10px 10px 20px 10px;
        color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        gap: 10px;
    }
    .btn-items-inicio{
        display: grid;
        grid-template-columns: 0.6fr 2fr 1fr;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #2EAC3D;
        border: none;
        border-radius: 16px;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        gap: 10px;
    }
    .btn-items:hover{
        background-color: #2EAC3D;
        color: #fff;
        border-radius: 16px;
        border: none;
    }
    .btn-items-inicio i {
        font-size: 15px;
        display: flex;
        justify-content: start;
    }
    .btn-items-inicio a {
        text-decoration: none;
        color: #fff;
    }
    .btn-items-inicio .btn_texto {
        display: flex;
        justify-content: start;
        font-size: 13px;
    }
    .btn-items-inicio .key{
        display: flex;
        justify-content: end;
        align-items: center;
    
    }
    .btn-items-config {
        display: grid;
        grid-template-columns: 0.4fr 2fr ;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #3BB64A;
        border: none;
        gap: 10px;
        color: #fff;
    }
    .btn-items-config p {
        display: flex;
        justify-content: start;
        font-size: 13px;
    }
   
    .btn-items i {
        font-size: 15px;
        display: flex;
        justify-content: start;
    }
    .btn-items a {
        text-decoration: none;
        color: #fff;
    }
    .btn-items .btn_texto {
        display: flex;
        justify-content: start;
        font-size: 12px;
    }
    .btn-items .key{
        display: flex;
        justify-content: end;
        align-items: center;
    
    }
    .options {
        display: none;
    }
    .list-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding-left: 8px;
        border-radius: 0px 0px 16px 16px;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .list-options li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-options li:hover {
        background-color: #2EAC3D;
    }
    .list-options li a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 12px;
        padding: 12px;
    }

    /*NAVBAR*/
    .navbar {
        padding: 15px;
    }
    .navbar img{
        width: 180px;
    }
    .navbar .fecha-btnlogout {
        flex-direction: row;
        gap: 15px;
        align-items: center;
        font-size: 13px;
    }
    .navbar .fecha-btnlogout .btn-logout{
        width: 90px;
        height: 25px;
        border: 1px solid #000;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        font-size: 12px;
    }
    .navbar .fecha-btnlogout .btn-logout:hover{
        background-color: #f5f3f3;
    }

    /*main*/

    .main {
        padding: 20px;
        font-size: 20px; /* Fuente más grande */
    }

    .table th, .table td {
        font-size: 13px; /* Tablas con tamaño de fuente normal */
    }

    .btn {
        padding: 15px;
        font-size: 13px;
    }

     /*plantas*/
     .busqueda .search .seccion-buscar{
        width: 50%;
        height: 60%;
    }
    .busqueda .search .seccion-buscar .input-search{
        width: 100%;
        height: 100%;
    }
    .busqueda .search .btn-add-planta{
        width: 120px;
        border-radius: 16px;
        font-size: 12px;
    }
}










