.container-table-inputs .table-plantas{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow-x: auto;
    overflow-y: auto;
}
.container-table-inputs .table-plantas table{
    width: 90%;
    max-width: 90%;
    border-collapse: collapse;
    text-align: center;
}
.container-table-inputs .table-plantas table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}
.container-table-inputs .container-inputPlantas{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
  overflow-y: auto;

}
/*Aplciamos el grid, las diviciones*/
.container-table-inputs.active{
    grid-template-columns: 2fr 1fr;
}
.container-inputPlantas.show {
    display: flex; /* Muestra el formulario al activar la clase 'show' */   
}
.container-table-inputs .container-inputPlantas .inputPlantas-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container-table-inputs .container-inputPlantas .form-plantas{
    width: 100%;
    height: auto;
}
.container-table-inputs .container-inputPlantas .form-plantas  .input-plantas{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.container-table-inputs .container-inputPlantas .form-plantas .input-plantas .input-plantas{
    width: 100%;
    margin-top: 8px ;
}
.container-table-inputs .container-inputPlantas .btn-agregar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 35px;
    gap: 15px;
}

/* Ajusta el ancho del contenedor de Select2 */
.select2-container {
    width: 100% !important;
}
