.all-screen-plantas{
    width: 100%;
    height: auto;
}
/* -- bienvenida --*/
.bienvenida {
    width: 100%;
    height: 90px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

/* -- busqueda --*/
.busqueda {
	width: 100%;
    height: 75px;
    /* background-color: #F3F2F8; */
  background-color: hsl(0, 0%, 100%);

    border-radius: 15px;
    margin-top: 20px;

}
.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 50px;
}
.seccion-buscar{
  width: 30%;
  height: 45px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #F3F2F8;

}
.busqueda .search .btn-add-planta {
  width: 120px;
  border-radius: 16px;
  font-size: 12px;
}
.input-search{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  background-color: #F3F2F8;
  outline: none;
  border: none;
  border-radius: 10px;

}
.btn{
  border: none;
  color: white;
  background-color: #2db87e;
  border-radius: 3px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
} 
.container-table-inputs{
    width: 100%;
    height: 60vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    margin-top: 20px;
  }
.container-table-inputs .table-plantas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-x: auto;
    overflow-y: auto;
}
.container-table-inputs .table-plantas table{
    width: 90%;
    max-width: 90%;
    border-collapse: collapse;
    text-align: center;
}

.container-table-inputs .table-plantas .table .btn-acciones .btn-produccion{
  border: none;
  padding: 4px;
  margin: 2px;
  color: white;
  border-radius: 3px;
    background-color: rgba(11, 190, 41, 0.5);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*File upload*/
.container-table-inputs .table-plantas .table .image-upload {
  position: relative;
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border: 2px dashed #ccc; /* Estilo del borde */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.container-table-inputs .table-plantas .table .imagen-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.image-upload:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Color al hacer hover */
}

.file-input {
  display: none; /* Oculta el input de archivo */
} 

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-icon {
  font-size: 24px; /* Tamaño del icono */
}

.upload-text {
  margin-top: 5px; /* Espaciado entre el icono y el texto */
  font-size: 14px; /* Tamaño del texto */
}

.container-table-inputs .table-plantas table .mini-imgInsumo{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}
.container-table-inputs .table-plantas table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}


.container-table-inputs .container-inputPlantas{
     display: none; 
     position: fixed; 
     z-index: 1; 
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     justify-content: center;

}
.container-table-inputs .container-inputPlantas .agregar-plantas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: none;
}  
   
.container-table-inputs .container-inputPlantas .inputPlantas-title{
    width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
}
.container-table-inputs .container-inputPlantas .form-plantas{
    width: 100%;
    height: auto;
}
.container-table-inputs .container-inputPlantas .form-plantas  .inputs-plantas{
    display: grid;
    grid-template-columns:repeat(3, 1fr); 
    gap: 20px;
    padding-bottom: 20px;
}
.container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas .inputs-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas .columna-1, .columna-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
}
.container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas .columna-3{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 60px;
}
.container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas .columna-3 textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
.container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas .columna-1 #descripcion{
    width: 350px;
    height: 40px;
    max-width: 350px;
    min-width: 350px;
    max-height: 150px;
    min-height: 150px;
    padding: 10px;
    font-size: 15px;
    font-size: bold;
}

.input-colores, .input-subcat, .input-rango
{
  display: flex;
  flex-direction: column;
}

.inputs-select{
    display: flex;
    flex-direction: column;
}

.container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas .input-plantas{
    width: 100%;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #ECFFED;
}
.container-table-inputs .container-inputPlantas .btn-agregar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
    padding-top: 10px;
    border-top: 1px solid #000;
    margin-bottom: 10px;
}
.container-table-inputs .container-inputPlantas .btn-agregar .logo-btn-add{
    width: 220px;
    height: 40px;
  }
  
  .container-table-inputs .container-inputPlantas .btn-agregar .btn{
    width: 150px;
    border-radius: 15px;
  }
  .container-table-inputs .container-inputPlantas .btn-agregar .btn-cancel{
    width: 120px;
    background-color: #CF696B;
    
  }

/* Modal editar */
.modal-plantas {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Contenido del Modal */
  .modal-content-plantas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 950px;
    height: 620px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: none;
  }
  .modal-content-plantas .inputplantas-title{
    width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  }
  .modal-content-plantas .form_editar_plantas{
    width: 100%;
    height: 80%;
  }
  .modal-content-plantas .form_editar_plantas .inputs-plantas{
  display: grid;
  grid-template-columns:repeat(3, 1fr); 
  gap: 20px;
  padding-bottom: 20px;
  }
  .input-plantas {
    width: 100%;
    margin-top: 2px;
    border-radius: 10px;
    background-color: #F3F2F8;
  }
  .modal-content-plantas .inputs-plantas .columna-1, .columna-2, .columna-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
  }
  .modal-content-plantas .inputs-plantas .columna-1 #descripcion_editar{
    width: 350px;
    height: 100px;
    max-width: 350px;
    min-width: 350px;
    max-height: 100px;
    min-height: 100px;
    padding: 10px;
    font-size: 15px;
    font-size: bold;
}

  .modal-content-plantas .form_editar_plantas .btn-agregar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
    padding-top: 10px;
    border-top: 1px solid #000;
    margin-bottom: 10px;
  }
  .modal-content-plantas .form_editar_plantas .btn-agregar .logo-btn-add {
    width: 220px;
    height: 40px;
  }
  .modal-content-plantas .form_editar_plantas .btn-agregar .btn {
    width: 150px;
    border-radius: 15px;
  }
  .modal-content-plantas .form_editar_plantas .btn-agregar .btn-cancel {
    width: 120px;
    background-color: #CF696B;
  }

  .select2-container--default .select2-selection--multiple {
    background-color: #ECFFED !important;
    width: 100% !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
    width: 75%;
  }
    
  /* Ajusta las opciones seleccionadas */
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff !important;
    color: #000;
    border: 1px solid #007bff;
    border-radius: 2px;
    padding: 3px 5px;
  }



  /* MEDIA QUERIES*/
/* Estilos para pantallas grandes (mayores a 1024px) */
@media (min-width: 1024px) and (max-width: 1919px) {
  .bienvenida div h2, .bienvenida div p{
    font-size: 15px;
  }
  .bienvenida .modulo-container h3{
    font-size: 15px;
  }
  
  .container-table-inputs {
   width: 100%;
   height: 50vh;
  }
  .container-table-inputs .table-plantas table .mini-imgInsumo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
   }

   /* MODAL */

   .container-table-inputs .container-inputPlantas .agregar-plantas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: 550px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-width: none;
    font-size: 20px;
}

/* MODAL editar*/

.modal-content-plantas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%); /* Centra el modal */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  height: 620px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  scrollbar-width: none;
}
.modal-content-plantas .inputplantas-title{
font-size: 15px;
}
.container-table-inputs .container-inputPlantas .inputPlantas-title, .container-table-inputs .container-inputPlantas .form-plantas .inputs-plantas, .modal-content-plantas .inputs-plantas {
  font-size: 15px;
}

 }