.container-table-inputs .table-proveedores{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: start;
}
.container-table-inputs .table-proveedores table{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}
.container-table-inputs .table-proveedores table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}
.container-table-inputs .container-inputsProveedores{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.container-table-inputs .container-inputsProveedores .agregar-proveedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: 520px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }

.container-table-inputs .container-inputsProveedores .inputProveedores-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}
.container-table-inputs .container-inputsProveedores .form-proveedores{
    width: 100%;
    height: auto;
}
.container-table-inputs .container-inputsProveedores .form-proveedores  .input-proveedores{
    height: 320px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: 1px;  /* IE 10+ */
    &::-webkit-scrollbar-track {
        background-color: #d7ffda;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F3F2F8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c7f7ca;
        border-radius: 10px;
        border: 3px solid #F3F2F8;
    }
}
.container-table-inputs .container-inputsProveedores .form-proveedores .input-proveedores .grupo1, .grupo2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: start;
    width: 100%;
    height: 105px;
}
.container-table-inputs .container-inputsProveedores .form-proveedores .input-proveedores .grupo2 #direccionprov{
  width: 350px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  min-width: 350px;
  max-width: 350px;
}

.container-table-inputs .container-inputsProveedores .form-proveedores .input-proveedores .input-contenido{
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 18px;
    gap: 15px;
    border-top: 1px solid #000;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    gap: 15px;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor .img-btn-add{
    width: 220px;
    height: 40px;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor .btn-agregar .btn-cancel{
    width: 100px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor .btn-agregar .btn-cancel:hover{
    background-color: #CF697B;
    color: #fff;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor .btn-agregar .btn-proveedor-agregar{
    border: none;
    color: white;
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
}
.container-table-inputs .container-inputsProveedores .btn-agregar-proveedor .btn-agregar .btn-proveedor-agregar:hover{
    background-color: #229e6a;
    color: #fff;
}

/* -- busqueda --*/
.busqueda {
	width: 100%;
    height: 75px;
    /* background-color: #F3F2F8; */
  background-color: hsl(0, 0%, 100%);

    border-radius: 15px;
    margin-top: 20px;

}
.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 50px;
}
.seccion-buscar{
  width: 30%;
  height: 45px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #F3F2F8;

}
.input-search{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  background-color: #F3F2F8;
  outline: none;
  border: none;
  border-radius: 10px;

}

/* modal */
.modal-prov{
    display: none;
    position: fixed;  
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-prov .modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-38%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-prov .modal-content .proveedor-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
  }
  .modal-prov .modal-content .form-proveedores{
    width: 100%;
    height: auto;
  }
  .modal-prov .modal-content .form-proveedores .input-proveedores{
    height: 320px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: 1px;  /* IE 10+ */
    &::-webkit-scrollbar-track {
        background-color: #d7ffda;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F3F2F8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c7f7ca;
        border-radius: 10px;
        border: 3px solid #F3F2F8;
    }
  } 
  .modal-prov .modal-content .form-proveedores .input-proveedores .grupo1, .grupo2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: start;
    width: 100%;
    height: 105px;
  }
  .modal-prov .modal-content .form-proveedores .input-proveedores .grupo2 #direccion_editar{
    width: 350px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 350px;
    max-width: 350px;
  }
  .modal-prov .modal-content .form-proveedores .input-proveedores .input-contenido{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  }
  .modal-prov .modal-content .btn-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    gap: 15px;
    border-top: 1px solid #000;
  }
  .modal-prov .modal-content .btn-modal .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .modal-prov .modal-content .btn-modal .img-modal{
    width: 200px;
    height: 40px;    
  }

  .modal-prov .modal-content .btn-modal .btn-agregar .btn-cancel{
    width: 100px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;
  }
  .modal-prov .modal-content .btn-modal .btn-agregar .btn-cancel:hover{
    background-color: #CF697B;
    color: #fff;
  }
  .modal-prov .modal-content .btn-modal .btn-agregar .btn-proveedor-agregar{
    border: none;
    color: white;
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
  }
  .modal-prov .modal-content .btn-modal .btn-agregar .btn-proveedor-agregar:hover{
    background-color: #229e6a;
    color: #fff;
  }

  .opacity {
    opacity: 0.5;
    pointer-events: none;
}