.container-table-inputs .table-proveedores{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.container-table-inputs .table-proveedores table{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}
.container-table-inputs .table-proveedores table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}
.container-table-inputs .container-inputsProveedores{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
/*Aplciamos el grid, las diviciones*/
.container-table-inputs.active{
    grid-template-columns: 2fr 1fr;
}
.container-inputsProveedores.show {
    display: flex; /* Muestra el formulario al activar la clase 'show' */   
}
.container-table-inputs .container-inputsProveedores .inputPlantas-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container-table-inputs .container-inputsProveedores .form-proveedores{
    width: 100%;
    height: auto;
}
.container-table-inputs .container-inputsProveedores .form-proveedores  .input-proveedores{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.container-table-inputs .container-inputsProveedores .form-proveedores .input-proveedores .input-proveedores{
    width: 100%;
    margin-top: 8px ;
}
.container-table-inputs .container-inputsProveedores .btn-agregar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 35px;
    gap: 15px;
}
/* -- busqueda --*/
.busqueda {
	width: 100%;
    height: 75px;
    /* background-color: #F3F2F8; */
  background-color: hsl(0, 0%, 100%);

    border-radius: 15px;
    margin-top: 20px;

}
.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 50px;
}
.seccion-buscar{
  width: 30%;
  height: 45px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #F3F2F8;

}
.input-search{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  background-color: #F3F2F8;
  outline: none;
  border: none;
  border-radius: 10px;

}