
.seccion-buscar{
    width: 30%;
    height: 45px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    background-color: #F3F4F9;
    border: 2px solid #ececec;
    box-shadow: 0px 5px 8px 0px #ececec;
}
.input-search{
    width: 100%;
    height: 45px;
    padding-left: 20px;
    background-color: #F3F4F9;
    box-shadow: 0px 5px 8px 0px #ececec;
    outline: none;
    border: none;
}
.container-table-inputs{
    width: 100%;
    height: 70vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: hsl(0, 0%, 100%);
}
.container-table-inputs .table-categories{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;

}
.container-table-inputs .table-categories .table{
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}
.container-table-inputs .table-categories .table thead{
    width: 100%;
    height: 55px;
    text-align: center;
}

/* FORMULARIO DE AGREGAR USUARIO */
.container-table-inputs .container-inputsUser{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.container-table-inputs .container-inputsUser .agregar-usuario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: 465px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Estilos al formulario*/
.container-table-inputs .container-inputsUser .inputUser-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;;
}
.container-table-inputs .container-inputsUser .formUser{
    width: 100%;
    height: auto;
}
.container-table-inputs .container-inputsUser .formUser .input-users{
    height: 290px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: 1px;  /* IE 10+ */
    &::-webkit-scrollbar-track {
        background-color: #d7ffda;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F3F2F8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c7f7ca;
        border-radius: 10px;
        border: 3px solid #F3F2F8;
    }
}
.container-table-inputs .container-inputsUser .formUser .input-users .grupo1, .grupo2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: start;
    width: 100%;
    height: 105px;
}

.container-table-inputs .container-inputsUser .formUser .input-users .grupo2 .input-forma{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.container-table-inputs .container-inputsUser .formUser .input-users .grupo2 .input-forma .noneye{
    display: none;
}

.container-table-inputs .container-inputsUser .formUser .input-users .input-user{
    width: 100%;
    margin-top: 8px ;
}
.container-table-inputs .container-inputsUser .btn-agregar-user{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding-top: 20px;
    border-top: 1px solid #000;
}
.container-table-inputs .container-inputsUser .btn-agregar-user .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container-table-inputs .container-inputsUser .btn-agregar-user .img-btn-add{
    width: 220px;
    height: 40px;
}
.container-table-inputs .container-inputsUser .btn-agregar-user .btn-agregar .btn-cancel-user{
    width: 100px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;
}
.container-table-inputs .container-inputsUser .btn-agregar-user .btn-agregar .btn-cancel-user:hover{
    background-color: #CF697B;
    color: #fff;
}
.container-table-inputs .container-inputsUser .btn-agregar-user .btn-agregar .btn-agregar-users{
    border: none;
    color: white;
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
}
.container-table-inputs .container-inputsUser .btn-agregar-user .btn-agregar .btn-agregar-users:hover{
    background-color: #229e6a;
    color: #fff;
}

/* MODAL */
.modal-editar-usuario{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Contenido del Modal */
  .modal-editar-usuario .modal-content {
    /* background-color: white;     */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: 470px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .modal-editar-usuario  .modal-content .usuario-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
  }

  .modal-editar-usuario .modal-content .form_edit_user .input-usuario{
    height: 290px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: 1px;  /* IE 10+ */
    &::-webkit-scrollbar-track {
        background-color: #d7ffda;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F3F2F8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c7f7ca;
        border-radius: 10px;
        border: 3px solid #F3F2F8;
    }
}
.modal-editar-usuario .modal-content .form_edit_user .input-usuario .grupo1, .grupo2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: start;
    width: 100%;
    height: 105px;
}

.modal-editar-usuario .modal-content .form_edit_user .input-usuario .input-contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

.modal-editar-usuario .modal-content .form_edit_user .input-usuario .input-contenido{
   
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .modal-editar-usuario .modal-content .btn-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding-top: 20px;
    border-top: 1px solid #000;
  }
  .modal-editar-usuario .modal-content .btn-modal .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .modal-editar-usuario  .modal-content .btn-modal .img-modal{
    width: 200px;
    height: 40px;    
  }
  .modal-editar-usuario  .modal-content .btn-modal .btn-agregar .btn-cancel-user{
    width: 100px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;    
  }
  .modal-editar-usuario  .modal-content .btn-modal .btn-agregar .btn-cancel-user:hover{
    background-color: #CF697B;
    color: #fff;
  }
  .modal-editar-usuario .modal-content .btn-modal .btn-agregar .btn-agregar-user{
    border: none;
    color: white;
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;    
    border-radius: 5px;
  }
  .modal-editar-usuario  .modal-content .btn-modal .btn-agregar .btn-agregar-user:hover{
    background-color: #229e6a;
    color: #fff;
  }

  /* Botón de cerrar */
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: #000;
    text-decoration: none;
  }
  
  /* Modal cambiar contraseña */
  .modal-editar-contraseña{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Contenido del Modal */
  .modal-editar-contraseña .modal-content-contraseña {
    /* background-color: white;     */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%); /* Centra el modal */
    background-color: #fff;
    padding: 0px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 650px;
    height: 340px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .modal-editar-contraseña  .modal-content-contraseña .usuario-title{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña{
    width: 100%;
    height: auto;
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .input-contraseña{
    height: 90px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: 1px;  /* IE 10+ */
    &::-webkit-scrollbar-track {
        background-color: #d7ffda;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F3F2F8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c7f7ca;
        border-radius: 10px;
        border: 3px solid #F3F2F8;
        }  
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .input-contraseña .input-forma{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .input-contraseña .input-forma #unshow-password{
    display: none;
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .input-contraseña .input-contenido-contraseña{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
.modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .btn-modal-contraseña{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: 50px;  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .btn-modal-contraseña .btn-agregar{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .modal-editar-contraseña  .modal-content-contraseña .form_cambiar_contraseña .img-modal{
    width: 200px;
    height: 40px;    
  }
  .modal-editar-contraseña  .modal-content-contraseña .form_cambiar_contraseña .btn-agregar .btn-cancel-user{
    width: 70px;
    height: 35px;
    background-color: #CF696B;
    border: none;
    color: #fff;
    border-radius: 5px;
  cursor:pointer;
  }
  .modal-editar-contraseña  .modal-content-contraseña .form_cambiar_contraseña .btn-agregar .btn-cancel-user:hover{
    background-color: #CF697B;
    color: #fff;
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .btn-agregar .btn-generar{
    width: 192px;
    height: 35px;
    background-color: #5bb47d;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
    text-align: center;
  }
  .modal-editar-contraseña .modal-content-contraseña .form_cambiar_contraseña .btn-agregar .btn-agregar-user{
    border: none;
    color: white;
    background-color: #2db87e;
    border-radius: 3px;
    height: 35px;
    width: 70px;
    cursor: pointer;
    border-radius: 5px;
  }
  .modal-editar-contraseña  .modal-content-contraseña .form_cambiar_contraseña .btn-agregar .btn-agregar-user:hover{
    background-color: #229e6a;
    color: #fff;
  }

  /* Botón de cerrar */
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: #000;
    text-decoration: none;
  } 