<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/static/img/logoElJaboncilloflor.png">
    <link rel="stylesheet" href="/static/css/catalogo.css">



    <title>Catálogo | El Jaboncillo</title>
</head>
<body>
    <h1>Aqui se creará el catalogo en linea</h1>
</body>
</html>