{% extends "layout.html" %}

{% block title %}
Categorias | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <div>
        <h2  id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </div>
    <div class="modulo-container ">
        <h3>Módulo de categorias</h3>
    </div>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="search" placeholder="Buscar categoria">
        </div>
        <div>
            <button class="btn-add btn">Agregar categoria</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    {%if categorias == [] %}
    <div class="table-insumos">
        <h3>No hay categorias en la lista</h3>
    </div>
    {%else%}
    <div class="table-categories">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categorias</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla_categorias">
                {% for rows in categorias %}
                <tr>
                    <td>{{rows.id}}</td>
                    <td>{{rows.categoria}}</td>
                    <td>{{rows.descripcion}}</td>
                    <td class="btn-acciones">
                        <button class="btn-edit btn-edit-categorias">
                            <i class="material-icons">edit</i>
                        </button>
                        <form action="/eliminarCategoria" method="post" class="form-eliminar-cat">
                            <input type="hidden" id="id_eliminar" name="id_eliminar" value="{{rows.id}}">
                            <button class="btn-delete btn-delete-cat" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%endif%}
    <div class="container-inputsCat">
        <div class="agregar-cat">
            <div class="inputCat-title">
                <h3>Nueva Categoria</h3>
                <span class="close" id="close_agregar_cat">&times;</span>
            </div>
            <form action="/categorias" id="form-cat" method="post" class="form-cat">
                <section class="agregar-categorias">
                    <div class="input-contenido">
                        <div class="contenedor-obligatorio">
                            <label for="">Categoria</label>
                            <span class="spanobligatorio">*Obligatorio</span>
                        </div>
                        <input type="text" id="nombre" class="input input-cat input-insumos" name="categoria" placeholder="Nombre de categoria">
                    </div>
                    <div class="input-contenido">
                        <label for="">Descripción</label>
                        <textarea type="text" id="descripcion" class="input input-cat input-insumos" name="descripcion"
                            placeholder="Descripción"></textarea>
                    </div>
                </section>
                <section class="btn-agregar-cate">
                    <img class="img-btn-add" src="/static/img/logoElJaboncillo.png" alt="logo">
                    <div class="btn-agregar">
                        <button type="button" class="btn btn-cancel" id="btn_cancel_cat">Cancelar</button>
                        <button type="submit" class="btn btn-cat-agregar opacity" id="btn-add-categories" disabled>Agregar</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

<!-- Modal editar categoria -->
<div id="myModal" class="modal-cat">
    <div class="modal-content-cat form-categories">
        <div class="categoria-title">
            <h2>Editar categoria</h2>
            <span class="close" id="close-edit">&times;</span>
        </div>
        <form action="/editarCategoria" method="post" class="form_edit" id="form_cat_edit">
            <div class="input-categories">
                <div class="input-contenido">
                    <label for="">Categoria</label>
                    <input type="hidden" id="id_editar" name="id_editar" value="{{categorias.id}}">
                    <input type="text" id="nombre_editar" class="input input-cateEditar input-insumos" name="nombre_editar" value="{{categorias.categoria}}">
                </div>
                <div class="input-contenido">
                    <label for="">Descripción</label>
                    <textarea type="text" id="descripcion_editar" class="input input-cateEditar  input-insumos" name="descripcion_editar"
                    value="{{categorias.descripcion}}"> </textarea>
                </div>
            </div>
            <div class="btn-modal-cat">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="img-modal">
                <div class="btn-agregar">
                    <button type="button" class="btn btn-sub-eliminar close-modal">Cancelar</button>
                    <button type="submit" class="btn btn-sun-agregar opacity" id="btn-edit-categories" disabled>Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/categorias.js"></script>

<!-- Mostrar alertas -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}