{% extends "layout.html" %}
{% block title %}
Compras | El Jaboncillo
{% endblock %}

{% block main %}
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="search" placeholder="Buscar compras">
        </div>
        <div>
            <button class="btn-add-compra btn">Nueva compra</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    <div class="table-Compra">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Total</th>
                </tr>
            </thead> 
            
            <tbody>
                {% for compras in Compras %}
                <tr>
                    <td>{{compras.id}}</td>
                    <td>{{compras.nombre_proveedor}}</td>
                    <td>{{compras.fecha_compra}}</td>
                    <td>{{compras.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-inputCompra">
        <div class="nueva-compra">
            <div class="inputCompra-title">
                <h3>NUEVA COMPRA</h3>
                <span class="close close-modal-compra">&times;</span>
            </div>
            <form action="/compras" id="form-compra" method="post" class="form-compra">
                <section class="inputs-compra" id="lista-productos">
                    <div class="inputs-cont row-1">
                        <div>
                            <label>Proveedor</label>
                            <select class="input inputs-compra" id="proveedor-select" name="proveedor-select">
                                <option value="">Selecciona un proveedor</option>
                                {% for proveedores in Proveedores %}
                                <option name="proveedor-select" value="{{proveedores[0]}}">{{proveedores[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>Subcategorias</label>
                            <select class="input inputs-compra" id="subcategoria-select" name="subcategoria-select">
                                {% for subcategorias in Subcategorias %}
                                <option name="subcategoria-select" value="{{subcategorias[0]}}">{{subcategorias[2]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>Fecha</label>
                            <input type="text" id="fecha_compra" class="input input-plantas" name="fecha"
                                placeholder="fecha" readonly>
                        </div>
                    </div>
                    <div class="inputs-cont row-2">
                        <div>
                            <label>Producto</label>
                            <select class="input inputs-compra" id="producto" name="producto">
                                <option value="">Selecciona un producto</option>
                            </select>
                        </div>
                        <div>
                            <label>Cantidad</label>
                            <input type="number" id="cantidad-compra" class="input inputs-compra validar-input" name="cantidad"
                                placeholder="Cantidad" min="0">
                        </div>
                        <div>
                            <label>Precio</label>
                            <input type="number" id="precio" class="input inputs-compra validar-input" name="precio"
                                placeholder="Precio" min="0">
                        </div>
                        <div class="inputs-hidden">
                            <input type="hidden" name="idProd" id="idProd">
                        </div>
                        <div class="inputs-hidden">
                            <input type="hidden" name="cantidadDispo" id="cantidadDispo">
                        </div>
                        <div class="inputs-hidden">
                            <input type="hidden" name="tipoProducto" id="tipoProducto">
                        </div>
                        <button type="button" class="btn agregar_producto-compra" id="agregar_producto-compra">Agregar</button>
                    </div>
                </section>
                <section>
                    
                    <div class="productos">
                        <table id="lista-productos-seleccionados">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unit</th>
                                    <th>Subtotal</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="inputs-compra">
                    <div class="inputs-cont row-4">
                        <div>
                            <label>Divisas</label>
                            <select class="input inputs-compra" id="divisa-select" name="divisa-select">
                                {% for divisas in Divisas %}
                                <option value="{{divisas[3]}}" data-id="{{divisas[0]}}">
                                    {{divisas[1]}}
                                </option>
                                {% endfor %}
                            </select>
                            <input type="hidden" id="divisa-id" name="divisa-id" value="">
                        </div>
                        <div>
                            <label>Subtotal</label>
                            <input type="number" id="subtotal" readonly class="input inputs-compra" name="subtotal"
                                placeholder="Subtotal">
                        </div>
                        <div>
                            <label>Total</label>
                            <input type="number" id="total" readonly class="input inputs-compra" name="total"
                                placeholder="Precio">
                        </div>
                        <div>
                            <label>Nota</label>
                            <input type="text" id="nota-venta" class="input inputs-compra" name="nota-venta"
                                placeholder="Agregar nota">
                        </div>
                    </div>
                </section>

                <section class="btn-agregar">
                    <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                    <div>
                        <div id="productos-dinamicos"></div>
                        <button type="button" class="btn btn-cancel" id="btn-cancel">Cancelar</button>
                        <button type="submit" class="btn" id="btn-add-venta">Agregar</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
  <script>
    Swal.fire({
      title:'{{ messages[0][2] }}',
      text: '{{ messages[0][0] }}',
      icon: '{{ messages[0][1] }}',
      confirmButtonText: 'OK'
    });
  </script>
{% endif %}
{% endwith %}
{% endblock %}