{% extends "layout.html" %}
{% block title %}
Compras | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <div>
        <h2 id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </div>
    <div class="modulo-container">
        <h3>Modulo de compras</h3>
    </div>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="buscar_compras" placeholder="Buscar compras">
        </div>
        <div>
            <button class="btn-add-compra btn">Nueva compra</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    <div class="table-Compra">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Empleado</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody id="tabla_compras">
                {% for compras in Compras %}
                <tr>
                    <td>{{compras.compra_id}}</td>
                    <td>{{compras.empleado}}</td>
                    <td>{{compras.proveedor}}</td>
                    <td>{{compras.fecha_compra}}</td>
                    <td>{{compras.total}}</td>
                    <td><button type="button" class="btn-detalle-compra" data-idCompra="{{compras.compra_id}}">Ver detalle</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal de detalle de compras -->
<div id="ModalDetalleCompras" class="modal-detalle-compras">
    <div class="modal-content-compras">
        <div class="detalle-title">
            <h2>Detalle de la Compra</h2>
            <span class="close" id="close-modal-compras">&times;</span>
        </div>
        <div class="compras-content">
            <div class="detalle-compra-info">
                
            </div>
            <table id="detalle-compra-table">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody id="detalle-compra-body">
                    <!-- Los detalles se cargarán dinámicamente aquí -->
                </tbody>
            </table>
        </div>
        <div class="btn-contenedor">
            <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
            <div class="botones">
                <button class="btn-cancelar" id="btn-cancelar-compras">Cancelar</button>
            </div>
        </div>
    </div>
</div>
    <!-- modal para agregar compra -->
    <div class="container-inputCompra">
        <div class="nueva-compra">
            <div class="inputCompra-title">
                <h3>NUEVA COMPRA</h3>
                <span class="close close-modal-compra">&times;</span>
            </div>
            <form action="/compras" id="form-compra" method="post" class="form-compra">
                <section class="inputs-compra" id="lista-productos">
                    <div class="inputs-cont row-1">
                        <div class="rows-1-cont">
                            <label>Proveedor</label>
                            <select class="input inputs-compra" id="proveedor-select" name="proveedor-select">
                                <option value="">Selecciona un proveedor</option>
                                {% for proveedores in Proveedores %}
                                <option name="proveedor-select" value="{{proveedores[0]}}">{{proveedores[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row-1-cont">
                            <!-- <label>Fecha</label> -->
                            <input type="text" id="fecha_compra" class="input input-plantas" name="fecha" value="Sabado 1 de diciembre del 2024" 
                                 readonly>
                        </div>
                    </div>
                    <div class="inputs-cont row-2">
                        <div>
                            <label>Subcategorias</label>
                            <select class="input inputs-compra" id="subcategoria-select" name="subcategoria-select">
                                {% for subcategorias in Subcategorias %}
                                <option name="subcategoria-select" value="{{subcategorias[0]}}">{{subcategorias[2]}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>Producto</label>
                            <select class="input inputs-compra" id="producto" name="producto">
                                <option value="">Selecciona un producto</option>
                            </select>
                        </div>
                        <div>
                            <label>Colores</label>
                            <select class="input inputs-compra" id="color-select" name="color-select">
                                <option value="" selected>Selecciona una caracteristica</option>
                                {% for color in colores %}
                                <option value="{{color[0]}}" data-id="{{color[0]}}">{{color[1]}}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        <div>
                            <label>Medidas</label>
                            <select class="input inputs-compra" id="medida-select" name="medida-select">
                                <option value="" selected>Selecciona una caracteristica</option>
                                {% for medida in medidas %}
                                <option value="{{medida[0]}}" data-id="{{medida[0]}}">
                                    {{medida[1]}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="">Unidad de medida</label>
                            <select class="input inputs-compra" id="unidad-select" name="unidad-select">
                                <option value="" selected>Selecciona una caracteristica</option>
                                {% for unidad in unidades %}
                                <option value="{{unidad[2]}}">
                                    {{unidad[1]}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="inputs-cont row-3">
                        <div class="row-3-cont">

                            <div>
                                <label>Cantidad</label>
                                <input type="number" id="cantidad-compra" class="input inputs-compra validar-input"
                                    name="cantidad" placeholder="Cantidad" min="0">
                            </div>
                            <div>
                                <label>Precio</label>
                                <input type="number" id="precio" class="input inputs-compra validar-input" name="precio"
                                    placeholder="Precio" min="0">
                            </div>
                        </div>
                        <button type="button" class="btn agregar_producto-compra"
                            id="agregar_producto-compra">Agregar</button>
                        <div class="inputs-hidden">
                            <input type="hidden" name="idProd" id="idProd">
                        </div>
                        <div class="inputs-hidden">
                            <input type="hidden" name="cantidadDispo" id="cantidadDispo">
                        </div>
                        <div class="inputs-hidden">
                            <input type="hidden" name="tipoProducto" id="tipoProducto">
                        </div>
                    </div>
                    <div class="productos-compra">
                        <table id="lista-productos-seleccionados" class="tabla-compra">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unit</th>
                                    <th>Subtotal</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="inputs-cont row-4">
                        <div>
                            <label>Tipos de pago</label>
                            <select class="input inputs-compra" id="tipoPago-select" name="tipoPago-select">
                                {% for tipospagos in tipospago %}
                                <option value="{{tipospagos[0]}}" data-id="{{tipospagos[0]}}">
                                    {{tipospagos[1]}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>Subtotal</label>
                            <input type="number" id="subtotal" readonly class="input inputs-compra" name="subtotal"
                                placeholder="Subtotal">
                        </div>
                        <div>
                            <label>Total</label>
                            <input type="number" id="total" readonly class="input inputs-compra" name="total"
                                placeholder="Precio">
                        </div>
                        <div>
                            <label>Nota</label>
                            <input type="text" id="nota-compra" class="input inputs-compra" name="nota-compra"
                                placeholder="Agregar nota">
                        </div>
                    </div>
                </section>
                <section class="btn-agregar">
                    <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                    <div>
                        <div id="productos-dinamicos"></div>
                        <button type="button" class="btn btn-cancel" id="btn-cancel">Cancelar</button>
                        <button type="submit" class="btn" id="btn-add-venta">Agregar</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/compras.js"></script>

<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}