<!-- Aqui se mostrará una pagina de incio con boton de inicio de sesion tanto para clientes como para admin y operador -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/logoElJaboncilloflor.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Inicio | El Jaboncillo
    </title>
</head>

<body>
    <nav class="navbar" id="inicio-link">
        <div class="seccion-logo">
            <img class="logoEJ" src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
        </div>
        <div class="seccion-items">
            <a class="item-navb" href="#inicio-link">Inicio</a>
            <a class="item-navb" href="#servicios">Servicios</a>
            <a class="item-navb" href="#">Productos</a>
            <a class="item-navb" href="#">Nosotros</a>
        </div>
        <div class="seccion-btns">
            <a class="item-navb" href="/registrarse">Registrarse</a>
            <button class="btn-inicars"><a class="item-navb" href="/login">Iniciar sesión</a></button>
        </div>
    </nav>
    <section class="seccion-fondoylogo">
        <div class="opacidad">
        </div>
        <img class="logo-blanco" src="/static/img/jaboncillo_logoHDPNG 2.png" alt="logo del vivero El Jabocillo">
    </section>
    <div class="plantas-list">
        <p>Planta de Jade – Crassula ovata</p>
        <p>Girasol - Helianthus annuus</p>
        <p>San Diego - Hippeastrum puniceum</p>
        <p>Crisantemo - Chrysanthemum morifolium</p>
    </div>
    <section class="seccion-nosotros">
        <div class="nosotrostxt">
            <h3>Nosotros</h3>
            <div class="linea"></div>
            <div class="parrafo-nosotros-contenedor">
                <p class="parrafo-nosotros">Más de siete años de trabajo y un amor incondicional por lo que hacemos,
                    nos dedicamos a cultivar y seleccionar las especies más vibrantes y saludables para embellecer tu
                    hogar y espacios exteriores.</p>
            </div>
        </div>
        <div class="cards-plantas">
            <div class="card-plantas">
                <div class="img-card">
                    <img class="img-planta" src="/static/img/gerberas.jpg" alt="Jade Crassula">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Gerbera, gerbera jamesonii</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="#">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>
                </div>
            </div>
            <div class="card-plantas">
                <div class="img-card img-plantaCorona">
                    <img class="img-planta" src="/static/img/coronadecristo.jpg" alt="Jade Crassula">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Corona de cristo, euphorbia milii</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="#">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>
                </div>
            </div>
            <div class="card-plantas">
                <div class="img-card">
                    <img class="img-planta" src="/static/img/gazanias.jpg" alt="gazanias">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Gazania, gazania rigens</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="#">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>
                </div>
            </div>
            <div class="card-plantas">
                <div class="img-card">
                    <img class="img-planta" src="/static/img/crisantemo.jpg" alt="Jade Crassula">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Crisantemo, chrysanthemum morifolium</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="#">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="seccion-servicios" id="servicios">
        <div class="item-servicios">
            <div class="titulo-servicio">
                <p>CONOCÉ TODA LA VARIEDAD
                    DE SERVICIOS QUE OFRECEMOS</p>
            </div>
            <div class="linea-vertical"></div>

            <div class="parrafos-servicios">
                <p class="parrafo-servicio">La naturaleza es tan sorprendente, y en vivero El Jaboncillo podemos
                    llevarla hasta tu hogar. </p>
                <p class="parrafo-servicio">No solo en tu hogar, tambien en tu empresa o donde prefieras</p>
                <p class="parrafo-servicio">En el vivero, nuestro equipo de especialistas estará disponible para
                    ayudarte</p>
            </div>
            <div class="img-servicios">
                <img src="/static/img/ixora-Photoroom 1.png" alt="" class="img-servicio">
            </div>
        </div>
        <div class="servicios-cards">
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Transporte</p>
                </div>
                <div class="img-servicio">
                    <img src="/static/img/transporte-serv.png" alt="transporte">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Mantenimiento de jardines</p>
                </div>
                <div class="img-servicio">
                    <img src="/static/img/mantenimiento.png" alt="transporte">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Renta de plantas</p>
                </div>
                <div class="img-servicio">
                    <img src="/static/img/palmera.png" alt="transporte">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Capacitación</p>
                </div>
                <div class="img-servicio img-planta">
                    <img class="img-planta" src="/static/img/capacitacion-serv.png" alt="Planta creciendo con raices">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="seccion-paisaje">
        <div class="paisaje-contenedor">
            <div class="paisaje-info">
                <div class="paisaje-titulo-contenedor">
                    <p>Diseño y Paisajismo</p>
                </div>
                <div class="paisaje-informacion-contenedor">
                    <div class="paisaje-texto">
                        <div class="icono-contenedor">
                            <i class="material-icons vista-campo">nature_people</i>
                        </div>
                        <div class="paisaje-texto-contenedor">
                            <div class="paisaje-tit">
                                <p>Vision de campo</p>
                            </div>
                            <div class="paisaje-parr">
                                <p>Visita de Campo: Realizamos una inspección detallada del área donde se implementará
                                    el proyecto de paisajismo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paisaje-informacion-contenedor">
                    <div class="paisaje-texto">
                        <div class="icono-contenedor">
                            <i class="material-icons vista-campo">nature_people</i>
                        </div>
                        <div>
                            <div class="paisaje-tit">
                                <p>Diseño y paisajismo</p>
                            </div>
                            <div class="paisaje-parr">
                                <p>Visita de Campo: Realizamos una inspección detallada del área donde se implementará el proyecto de paisajismo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paisaje-informacion-contenedor">
                    <div class="paisaje-texto">
                        <div class="icono-contenedor">
                            <i class="material-icons vista-campo">nature_people</i>
                        </div>
                        <div>
                            <div class="paisaje-tit">
                                <p>Vision de campo</p>
                            </div>
                            <div class="paisaje-parr">
                                <p>Visita de Campo: Realizamos una inspección detallada del área donde se implementará
                                    el proyecto de paisajismo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="paisaje-img">
                </div>
            </div>
    </section>
</body>

</html>