<!-- Aqui se mostrará una pagina de incio con boton de inicio de sesion tanto para clientes como para admin y operador -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/logoElJaboncilloflor.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Inicio | El Jaboncillo
    </title>
</head>

<body>
    <nav class="navbar" id="inicio-link">
        <div class="seccion-logo">
            <img class="logoEJ" src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
        </div>
        <div class="seccion-items">
            {% if session.get("user_rol") == none %}
            <a class="item-navb" href="#inicio-link">Inicio</a>
            <a class="item-navb" href="#servicios">Servicios</a>
            <a class="item-navb" href="/catalogo">Catálogo</a>
            <a class="item-navb" href="#">Nosotros</a>
            {% elif session.get("user_rol") == 'CLIENTE' %}
            <a class="item-navb" href="#inicio-link">Inicio</a>
            <a class="item-navb" href="#servicios">Servicios</a>
            <a class="item-navb" href="/catalogo">Catálogo</a>
            <a class="item-navb" href="#">Nosotros</a>
            {% elif session.get("user_rol") == 'OPERADOR' %}
            <a class="item-navb" href="/inicioAdmin">Inicio admin</a>
            <a class="item-navb" href="/ventas">Ventas</a>
            <a class="item-navb" href="/compras">Compras</a>
            <a class="item-navb" href="/gastos">Gastos</a>
            {% else %}
            <a class="item-navb" href="/inicioAdmin">Inicio admin</a>
            <a class="item-navb" href="/usuarios">Usuarios</a>
            <a class="item-navb" href="/listaDAdmin">Listas de deseo</a>
            <a class="item-navb" href="/subCategorias">Subcategorias</a>
            <a class="item-navb" href="/categorias">Categorias</a>
            {% endif %}
        </div>
      
        {% if session.get("user_id") is none %}
        <div class="seccion-btns">
            <a class="item-navb" href="/register">Registrarse</a>
            <button class="btn-inicars"><a class="item-navb" href="/login">Iniciar sesión</a></button>
        </div>
        {% else %}
        <div class="seccion-btns">
            <p>bienvenido, {{ session["user_name"] }}</p>
            <button class="btn-inicars"><a class="item-navb" href="/logout">Cerrar sesión</a></button>
        </div>
        {% endif %}
    </nav>
    <section class="seccion-fondoylogo">
        <div class="opacidad">
        </div>
        <img class="logo-blanco" src="/static/img/jaboncillo_logoHDPNG 2.png" alt="logo del vivero El Jabocillo">
    </section>
    <div class="plantas-list">
        <p>Planta de Jade – Crassula ovata</p>
        <p>Girasol - Helianthus annuus</p>
        <p>San Diego - Hippeastrum puniceum</p>
        <p>Crisantemo - Chrysanthemum morifolium</p>
    </div>
    <section class="seccion-nosotros">
        <div class="nosotrostxt">
            <h3>Nosotros</h3>
            <div class="linea"></div>
            <div class="parrafo-nosotros-contenedor">
                <p class="parrafo-nosotros">Más de siete años de trabajo y un amor incondicional por lo que hacemos,
                    nos dedicamos a cultivar y seleccionar las especies más vibrantes y saludables para embellecer tu
                    hogar y espacios exteriores.</p>
            </div>
        </div>
        <div class="cards-plantas">
            <div class="card-plantas">
                <div class="img-card">
                    <img class="img-planta" src="/static/img/gerberas.jpg" alt="Jade Crassula">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Gerbera, gerbera jamesonii</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="/catalogo">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>
                </div>
            </div>
            <div class="card-plantas">
                <div class="img-card img-plantaCorona">
                    <img class="img-planta" src="/static/img/coronadecristo.jpg" alt="Jade Crassula">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Corona de cristo, euphorbia milii</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="/catalogo">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>
                </div>
            </div>
            <div class="card-plantas">
                <div class="img-card">
                    <img class="img-planta" src="/static/img/gazanias.jpg" alt="gazanias">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Gazania, gazania rigens</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="/catalogo">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>
                </div>
            </div>
            <div class="card-plantas">
                <div class="img-card">
                    <img class="img-planta" src="/static/img/crisantemo.jpg" alt="Jade Crassula">
                </div>
                <div class="card-info">
                    <div class="nombre-planta">
                        <p>Crisantemo, chrysanthemum morifolium</p>
                    </div>
                    <div class="btn-catalogo">
                        <button><a href="/catalogo">Ir al catálogo</a></button>
                    </div>
                    <div class="minilogoEJ">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo del vivero El Jabocillo">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="seccion-servicios" id="servicios">
        <div class="item-servicios">
            <div class="titulo-servicio">
                <p>CONOCÉ TODA LA VARIEDAD
                    DE SERVICIOS QUE OFRECEMOS</p>
            </div>
            <div class="linea-vertical"></div>

            <div class="parrafos-servicios">
                <p class="parrafo-servicio">La naturaleza es tan sorprendente, y en vivero El Jaboncillo podemos
                    llevarla hasta tu hogar. </p>
                <p class="parrafo-servicio">No solo en tu hogar, tambien en tu empresa o donde prefieras</p>
                <p class="parrafo-servicio">En el vivero, nuestro equipo de especialistas estará disponible para
                    ayudarte</p>
            </div>
            <div class="img-servicios">
                <img src="/static/img/ixora-Photoroom 1.png" alt="" class="img-servicio">
            </div>
        </div>
        <div class="servicios-cards">
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Transporte</p>
                </div>
                <div class="img-servicio">
                    <img src="/static/img/transporte-serv.png" alt="transporte">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Mantenimiento de jardines</p>
                </div>
                <div class="img-servicio">
                    <img src="/static/img/mantenimiento.png" alt="transporte">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Renta de plantas</p>
                </div>
                <div class="img-servicio">
                    <img src="/static/img/palmera.png" alt="transporte">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
            <div class="card-servicios">
                <div class="titulo-servicio">
                    <p>Capacitación</p>
                </div>
                <div class="img-servicio img-planta">
                    <img class="img-planta" src="/static/img/capacitacion-serv.png" alt="Planta creciendo con raices">
                </div>
                <div class="btn-servicio">
                    <button class="btn-servicio">
                        <a href="#">Contáctenos</a>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="seccion-paisaje">
        <div class="paisaje-contenedor">
            <div class="paisaje-info">
                <div class="paisaje-titulo-contenedor">
                    <p>Diseño y Paisajismo</p>
                </div>
                <div class="paisaje-informacion-contenedor">
                    <div class="paisaje-texto">
                        <div class="icono-contenedor">
                            <i class="material-icons vista-campo">nature_people</i>
                        </div>
                        <div class="paisaje-texto-contenedor">
                            <div class="paisaje-tit">
                                <p>Visita de campo</p>
                            </div>
                            <div class="paisaje-parr">
                                <p>Visita de Campo: Realizamos una inspección detallada del área donde se implementará
                                    el proyecto de paisajismo</p>
                            </div>
                        </div>
                    </div>
                    <div class="paisaje-texto">
                        <div class="icono-contenedor">
                            <i class="material-icons vista-campo">landscape</i>
                        </div>
                        <div class="paisaje-texto-contenedor">
                            <div class="paisaje-tit">
                                <p>Diseño y paisajismo</p>
                            </div>
                            <div class="paisaje-parr">
                                <p>Desarrollamos un plan integral de diseño paisajístico, que incluye la distribución de
                                    plantas, caminos, y elementos decorativos</p>
                            </div>
                        </div>
                    </div>
                    <div class="paisaje-texto">
                        <div class="icono-contenedor">
                            <i class="material-icons vista-campo">payments</i>
                        </div>
                        <div class="paisaje-texto-contenedor">
                            <div class="paisaje-tit">
                                <p>Cotización de proyectos</p>
                            </div>
                            <div class="paisaje-parr">
                                <p>Elaboramos una cotización detallada, donde se desglosan los costos de cada componente
                                    del proyecto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paisaje-img">
                <div class="contenedor-card">
                    <div class="card-img-contenedor">
                        <img src="/static/img/vivero.png" class="card-img" alt="paisaje">
                    </div>
                    <div class="card-texto-contenedor">
                        <p class="card-texto">Catarina, Masaya</p>
                    </div>
                    <div class="card-logo-contenedor">
                        <img src="/static/img/logoElJaboncillo.png" class="card-logo" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-texto-contenedor">
            <div class="columna1">
                <div class="img-cont">
                    <img src="/static/img/logoElJaboncillo.png" class="footer-logo" alt="logo">
                </div>
                <div class="titulo-cont">
                    <p class="footer-titulo">Vivero</p>
                </div>
                <div class="direccion-cont">
                    <p class="direccion">Dirección: km 40, Carretera Masaya-Catarina, Catarina, Masaya, Nicaragua</p>
                </div>
                <div class="telefono-cont">
                    <p class="telefono">Teléfono: 8577 8984</p>
                </div>
            </div>
            <div class="columna2">
                <div class="titulo-columna2">
                    <p class="footer-titulo">Horario</p>
                </div>
                <div class="horario-columna2">
                    <p class="horario">Lunes a Domingo</p>
                    <p class="horario">8 am a 5 pm</p>
                </div>
                <div class="iconos-cont">
                    {% if datos_configuracion.link_whatsapp %}
                    <a href="https://wa.me/{{ datos_configuracion.link_whatsapp }}?text=Hola,%20necesito%20información%20de%20los%20servicio." target="_blank">

                            <img class="icono" src="/static/img/whatsapp.png" alt="icono de whatsapp">
                        </a>
                    {% endif %}
                    {% if datos_configuracion.link_facebook %}
                        <a href="{{ datos_configuracion.link_facebook }}" target="_blank">
                            <img class="icono" src="/static/img/facebook.png" alt="icono de facebook">
                        </a>
                    {% endif %}
                    {% if datos_configuracion.link_instagram %}
                        <a href="{{ datos_configuracion.link_instagram }}" target="_blank">
                            <img class="icono" src="/static/img/social.png" alt="icono de instagram">
                        </a>
                    {% endif %}
                    {% if datos_configuracion.link_tiktok %}
                        <a href="{{ datos_configuracion.link_tiktok }}" target="_blank">
                            <img class="icono" src="/static/img/tik-tok.png" alt="icono de tik-tok">
                        </a>
                    {% endif %}
                </div>
                
            </div>
            <div class="columna3">
                <div class="titulo-columna3">
                    <p class="footer-titulo">Ubicación</p>
                </div>
                <div class="direccion-columna3">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1951.927689611761!2d-86.07922327259769!3d11.915151317455!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f740f0ccfbe382f%3A0x5a61e144b98cc288!2sVivero%20El%20Jaboncillo!5e0!3m2!1ses-419!2sni!4v1732176643161!5m2!1ses-419!2sni"
                        width="480" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-creditos-conteiner">
            <p class="footer-creditos">© UNAN - Managua CUR Carazo, Vivero El Jaboncillo 2024</p>
        </div>
    </footer>

</body>

</html>