<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/iniciar_sesion.css">
    <title>Iniciar Sesión | El Jaboncillo </title>
</head>

<body>
    <div class="conteiner">
        <div class="form-conteiner ">
            <div class="registrarse">
                <div class="conteiner-img-logo">
                    <img src="/static/img/login/logoElJaboncillo.png" alt="">
                </div>
                <div class="conteiner-titulo">
                    <h2>¡BIENVENIDOS!</h2>
                    <button>registrate</button>
                </div>
                <div class="conteiner-img-flores">
                    <img src="/static/img/login/floresLogin-HDpng 1.png" alt="">
                </div>

            </div>
            <div class="iniciar-sesion">
                <div class="conteiner-icono">
                    <img src="/static/img/login/iconoInicioS.png" alt="">
                </div>
                <div class="conteiner-titulos"> 
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="conteiner-input">
                    <input type="text" id="correo" name="correo" placeholder="Correo electrónico">
                    <input type="text" id="correo" name="correo" placeholder="Contraseña"   >
                </div>
                <div class="conteiner-olvideC">
                    <p>¿Olvidaste tu contraseña?</p>
                </div>
                <div class="btn_iniciarS">
                    <button>INICIAR SESIÓN</button>
                </div>
            </div>
        </div>

    </div>
</body>

</html>