<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/iniciar_sesion.css">
    <title>Iniciar Sesión | El Jaboncillo </title>
</head>

<body>
    <div class="conteiner">
        <div class="form-conteiner ">
            <div class="registrarse">

            </div>
            <div class="iniciar-sesion">

            </div>
        </div>

    </div>
</body>

</html>