<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/inicio_catalogo.css">
    <link rel="stylesheet" href="/static/css/catalogo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/logoElJaboncilloflor.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Inicio catálogo | El Jaboncillo</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="links">
                <a href="/">Inicio</a>
                <a href="#">El vivero</a>
                <a href="#">Servicios</a>
                <a href="#">Catálogo</a>
                <a href="#">Contacto</a>
                <a href="/logout">Cerrar sesión</a>
            </div>
        </nav>
        <section class="img-info">
            <div class="opacidad"></div>
            <div class="texto-img">
                <h2>BIENVENIDOS A LA SECCIÓN DE CATÁLOGO</h2>
            </div>
        </section>

    </header>
</body>

</html>