<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/iniciar_sesion.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="/static/img/logoElJaboncilloflor.png">



    <title>Iniciar Sesión | El Jaboncillo </title>
</head>

<body>
    <div class="container">
        <div class="form-container ">
            <div class="register">
                <div class="container-img-logo">
                    <img src="/static/img/login/logoElJaboncillo.png" alt="">
                </div>
                <div class="container-title">
                    <h2>¡BIENVENIDOS!</h2>
                    <a href="/register"><button class="btn-register">regístrate</button></a>
                </div>
                <div class="container-img-flowers">
                    <img src="/static/img/login/floresLogin-HDpng 1.png" alt="">
                </div>

            </div>
            <div class="login-seccion">
                <div class="container-icon">
                    <img src="/static/img/login/iconoInicioS.png" alt="">
                </div>
                <div class="container-loginTitle">
                    <h3>Iniciar Sesión</h3>
                </div>
                <form class="container-input" method="post"  id="loginForm">
                    <div class="input-shape">
                        <i class="material-icons-outlined">mail</i>
                        <input class="inputs" type="text" id="userEmail_login" name="userEmail"
                            placeholder="Correo electrónico">
                    </div>
                    <div class="input-shape">
                        <i class="material-icons-outlined">lock</i>
                        <input class="inputs" type="password" id="userPassword_login" name="userPassword"
                            placeholder="Contraseña">
                        <i class="material-icons-outlined eye">visibility</i>
                        <i class="material-icons-outlined noneye">visibility_off</i>
                    </div>
                    <div class="container-forgetP">
                        <a href="" class="forget-password">
                            <p class="forget">¿Olvidaste tu contraseña?</p>
                        </a>
                    </div>
                    <div class="btn_login">
                        <button type="submit">INICIAR SESIÓN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="/static/js/login.js"> </script>
</html>