{% extends "layout.html" %}
{% block title %}
Insumos | El Jaboncillo
{% endblock %}

{% block busqueda %}

{% endblock %}

{% block main %}
<section class="all-screen-insumos">
    <section class="bienvenida">
        <div>
            <h2 id="saludo"></h2>
            <p>Bienvenid@, {{session["user_name"]}}</p>
        </div>
        <div>
            <h3>Modulo de Insumos</h3>
        </div>
    </section>
    <section class="busqueda">
        <div class="search">
            <div class="seccion-buscar">
                <i class="material-icons">search</i>
                <input class="input-search" name="search" id="buscar_insumos" placeholder="Buscar insumos">
            </div>
            <div>
                <button class="btn btn-add-insumos" id="btn-add-insumos">Agregar insumo</button>
            </div>
        </div>
    </section>
    <div class="container-table-inputs">
        {%if insumos == [] %}
        <div class="table-insumos">
            <h3>No hay insumos en la lista</h3>
        </div>
        {%else%}
        <div class="table-insumos">
            <table class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Insumo</th>
                        <th>Tipo Insumo</th>
                        <th style="display: none;">Descripción</th>
                        <th>composición principal</th>
                        <th style="display: none;">Frecuencia de aplicación</th>
                        <th style="display: none;">Compatibilidad</th>
                        <th style="display: none;">Precauciones</th>
                        <th>Subcategoria</th>
                        <th>Unidad de Medida</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Precio de Venta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tabla_insumos">
                    <tr>
                        {% for insumo in insumos %}
                        <td id="insumo-{{ insumo[0] }}">
                            {% if insumo[16] %}
                            <!-- Si hay imagen cargada -->
                            <div class="img-container">
                                <img class="mini-imgInsumo" src="{{ insumo[16] }}" alt="Insumo">
                            </div>
                            {% else %}
                            <div class="image-upload">
                                <form action="/insumos" class="form_agregarimg">
                                    <input type="hidden" name="id_insumo" class="id_insumo_agregar"
                                        value="{{insumo[0]}}">
                                    <input type="file" class="file-input" accept=".png, .jpg, .jpeg" id="subir">
                                    <label for="subir" class="upload-label">
                                        <span class="upload-icon">📁</span>
                                        <span class="upload-text">Subir imagen</span>
                                    </label>
                                </form>
                            </div>
                            {% endif %}
                        </td>
                        <td style="display: none;">{{insumo[0]}}</td>
                        <td>{{insumo[1]}}</td>
                        <td>{{insumo[2]}}</td>
                        <td style="display: none;">{{insumo[3]}}</td>
                        <td style="display: none;">{{insumo[4]}}</td>
                        <td>{{insumo[5]}}</td>
                        <td style="display: none;">{{insumo[6]}}</td>
                        <td style="display: none;">{{insumo[7]}}</td>
                        <td style="display: none;">{{insumo[8]}}</td>
                        <td style="display: none;">{{insumo[9]}}</td>
                        <td>{{insumo[10]}}</td>
                        <td style="display: none;">{{insumo[11]}}</td>
                        <td style="display: none;">{{insumo[12]}}</td>
                        <td style="display: none;">{{insumo[13]}}</td>
                        <td>{{insumo[14]}}</td>
                        <td>{{insumo[15]}}</td>
                        <td class="btn-acciones">
                            <button class="btn-edit btn-edit-insumos" data-id="{{insumos[0]}}">
                                <i class="material-icons">edit</i>
                            </button>
                            <form action="/eliminarInsumo" method="post" class="form-eliminar">
                                <input type="hidden" class="id_eliminar" name="id_editar_insumo" value="{{insumos[0]}}">
                                <button class="btn-delete" id="btn-eliminar" type="submit">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        <div class="container-inputinsumos">
            <div class="agregar-insumos">
                <div class="inputinsumos-title">
                    <h3>AGREGAR INSUMO</h3>
                    <span class="close" id="close">&times;</span>
                </div>
                <form class="form-insumos" action="/insumos" id="form_insumos" method="post">
                    <section class="inputs-insumos">
                        <div class="inputs-cont columna-1">
                            <div>
                                <div class="contenedor-obligatorio">
                                    <label for="">Insumo</label>
                                    <span class="spanobligatorio">*Obligatorio</span>
                                </div>
                                <input type="text" id="nombre_insumo" class="input input-insumos" name="nombre_insumo"
                                    placeholder="Ej. urea">
                            </div>
                            <div>
                                <label for="">Composición principal</label>
                                <select class="input input-insumos" id="ComposicionP" name="idComposicionP" required>
                                    {% for composicionp in Composicionp %}
                                    <option value="{{composicionp[0]}}">{{composicionp[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="">Unidades medidas</label>
                                <select class="input input-insumos" id="unidad-medida" name="idUnidadMedida" required>
                                    {% for unidadmedida in UnidadesMedida %}
                                    <option value="{{unidadmedida[0]}}">{{unidadmedida[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <div class="contenedor-obligatorio">
                                    <label for="">Precio de venta</label>
                                    <span class="spanobligatorio">*Obligatorio</span>
                                </div>
                                <input type="number" id="precio_venta" name="precio_venta"
                                    placeholder="0.00" class="input input-insumos" min="0">
                            </div>
                        </div>

                        <div class="inputs-cont columna-2">
                            <div>
                                <label for="">Tipo de insumo</label>
                                <select class="input input-insumos" id="tipoInsumo" name="idtipoInsumo" required>
                                    {% for tiposInsumo in TiposInsumo %}
                                    <option value="{{tiposInsumo[0]}}">{{tiposInsumo[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="">Frecuencia de aplicacion</label>
                                <input type="text" id="frecuenciaAplicacion_insumo" class="input input-insumos"
                                    name="frecuenciaAplicacion_insumo"
                                    placeholder="Ej. unica aplicacion, tres veces al mes, etc.">
                            </div>
                            <div>
                                <label for="">Compatibilidad</label>
                                <input type="text" id="compatibilidad" class="input input-insumos" name="compatibilidad"
                                    placeholder="Ej. compatible con citricos, etc.">
                            </div>
                            <div>
                                <label for="">Fecha de vencimiento</label>
                                <input type="date" id="fecha_vencimiento" name="fecha_vencimiento"
                                    class="input input-insumos">
                            </div>

                        </div>
                        <div class="inputs-conts columna-3">
                            <div class="input-subcat">
                                <label for="">Seleccione una subcategoria</label>
                                <select class="input input-insumos" id="subcat" name="idsubcat" required>
                                    {% for subcat in Subcat %}
                                    <option value="{{subcat[0]}}">{{subcat[2]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="">Precauciones</label>
                                <input type="text" id="precauciones" class="input input-insumos" name="precauciones"
                                placeholder="Ej. Se puede usar para citricos, etc.">
                            </div>
                            <div>
                                <div>
                                    <label for="">Descripción</label>
                                    <textarea class="input input-insumos textarea-editar" id="descripcion_insumo"
                                        name="descripcion_insumo" placeholder="Ej. Uso para citricos, etc."></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="btn-agregar">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                        <div>
                            <button type="button" class="btn btn-cancel" id="btn-cancel">Cancelar</button>
                            <button type="submit" class="btn " id="btn-add-insumos">Agregar</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Modal editar insumo -->
<div id="myModal" class="modal-insumos">
    <div class="modal-content-insumos form-insumos">
        <div class="inputinsumos-title">
            <h2>Editar insumos</h2>
            <span class="close" id="close-edit">&times;</span>
        </div>
        <form action="/editarinsumo" method="post" class="form_edit_insumo">
            <section class="inputs-insumos">
                <div class="inputs-cont columna-1">
                    <div>
                        <input type="hidden" id="id_editar_insumo" name="id_editar_insumo" value="{{insumos.id}}">
                        <label for="">Insumo</label>
                        <input type="text" id="insumo_editar" class="input input-insumos" name="insumo_editar" placeholder="Ej. urea" value="">
                    </div>
                    <div>
                        <label for="">Composición principal</label>
                        <select type="text" id="ComposicionP_editar" name="idComposicionP_editar"
                            class="input input-insumos">
                            {% for composicionp in Composicionp %}
                            <option name="idComposicionP" value="{{composicionp[0]}}">{{composicionp[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Unidad medidad</label>
                        <select type="text" id="unidadMedida_editar" name="unidadMedida_editar"
                            class="input input-insumos">
                            {% for unidad in UnidadesMedida %}
                            <option name="idunidadMedida" value="{{unidad[0]}}">{{unidad[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Imagen</label>
                        <input type="file" id="img_uploader_insu_editar" name="imagenInsumo" class="input input-insumos"
                            accept=".png, .jpg, .jpeg">
                    </div>
                </div>
                <div class="inputs-cont columna-2">
                    <div>
                        <label for="">Tipo de insumo</label>
                        <select type="text" id="tipoInsumo_editar" name="idtipoInsumo_editar"
                            class="input input-insumos">
                            {% for tiposInsumo in TiposInsumo %}
                            <option name="idtipoInsumo_editar" value="{{tiposInsumo[0]}}">{{tiposInsumo[1]}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Frecuencia de aplicacion</label>
                        <input type="text" id="frecuenciaAplicacion_insumo_editar" class="input input-insumos"
                            name="frecuenciaAplicacion_insumo_editar" placeholder="Ej. unica aplicacion, tres veces al mes, etc.">
                    </div>
                    <div>
                        <label for="">Compatibilidad</label>
                        <input type="text" id="compatibilidad_editar" class="input input-insumos"
                            name="compatibilidad_editar" placeholder="Ej. compatible con citricos, etc.">
                    </div>
                    <div>
                        <label for="">Precio de venta</label>
                        <input type="number" id="precioVentaInsumo_editar" class="input input-insumos"
                            name="precioVentaInsumo_editar" value="" required>
                    </div>

                </div>
                <div class="inputs-cont columna-3">
                    <div>
                        <div>
                            <label for="">Descripción</label>
                            <textarea class="input input-insumos" id="descripcion_insumo_editar"
                                name="descripcion_insumo_editar"
                                placeholder="Ej. Uso para citricos, etc."></textarea>
                        </div>
                    </div>
                    <div class="input-subcat">
                        <label for="">Subcategoria</label>
                        <select type="text" id="subcat_editar" name="idsubcat_editar" class="input" required>
                            {% for subcat in Subcat %}
                            <!-- <option name="idsubcat" value="{{subcat[0]}}">{{subcat[2]}}</option> -->
                            <option value="{{ subcat[0] }}" {% if subcat[0] in Subcat %} selected {% endif %}>
                                {{ subcat[2] }}
                                {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Precauciones</label>
                        <input type="text" id="precauciones_editar" class="input input-insumos"
                            name="precauciones_editar" placeholder="Ej. Se puede usar para citricos, etc.">
                    </div>
                    <div>
                        <label for="">Fecha de vencimiento</label>
                        <input type="date" id="fechaVencimientoInsumo_editar" class="input input-insumos"
                            name="fechaVencimientoInsumo_editar" value="" required>
                    </div>
                </div>
            </section>
            <section class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <div>
                        <button type="button" class="btn btn-cancel" id="btn-cancel-edit">Cancelar</button>
                        <button type="submit" class="btn " id="btn-edit-insumos">Editar</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>




<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}