{% extends "layout.html" %}
{% block title %}
Insumos | El Jaboncillo
{% endblock %}

{% block main %}
<section class="all-screen-insumos">
    <div class="search">
        <form action="#">
            <input class="input-search" name="search" id="search" placeholder="Buscar insumos">
            <button class="btn-search" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>
        <div>
            <button class="btn btn-add-insumos" id="btn-add-insumos">Agregar insumo</button>
        </div>
    </div>
    <div class="container-table-inputs">
        {%if insumos == [] %}
        <div class="table-insumos">
            <h3>No hay insumos en la lista</h3>
        </div>
        {%else%}
        <div class="table-insumos">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Insumo</th>
                        <th>Tipo Insumo</th>
                        <th>Descripción</th>
                        <th>composición principal</th>
                        <th>Frecuencia de aplicación</th>
                        <th>Durabilidad</th>
                        <th>Aplicacion ideal</th>
                        <th>Compatibilidad</th>
                        <th>Precauciones</th>
                        <th>Subcategoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for insumo in insumos %}
                        <td>{{insumo[0]}}</td>
                        <td>{{insumo[1]}}</td>
                        <td>{{insumo[2]}}</td>
                        <td>{{insumo[3]}}</td>
                        <td>{{insumo[4]}}</td>
                        <td>{{insumo[5]}}</td>
                        <td>{{insumo[6]}}</td>
                        <td>{{insumo[7]}}</td>
                        <td>{{insumo[8]}}</td>
                        <td>{{insumo[9]}}</td>
                        <td>{{insumo[10]}}</td>
                        <td class="btn-acciones">
                            <button class="btn-edit editar-insumo" id="openModalInsumo">
                                <i class="material-icons">edit</i>
                            </button>

                            <form action="/eliminarInsumo" method="post" class="form-eliminar">
                                <input type="hidden" class="id_eliminar" name="id_insumo" value="{{insumos[0]}}">
                                <button class="btn-delete" id="btn-eliminar" type="submit">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        <div class="container-inputinsumos">
            <div class="inputinsumos-title">
                <h3>Nuevo insumo</h3>
            </div>
            <form class="form-insumos" action="/insumos" id="form_insumos" method="post">
                <section class="inputs-insumos">
                    <div>
                        <label for="">Insumo</label>
                        <input type="text" id="nombre_insumo" class="input input-insumos" name="nombre_insumo"
                            placeholder="Ingrese el insumo">
                    </div>
                    <div>
                        <label for="">Tipo de insumo</label>
                        <select class="input input-insumos" id="tipoInsumo" name="idtipoInsumo">
                            {% for tiposInsumo in TiposInsumo %}
                            <option value="{{tiposInsumo[1]}}">{{tiposInsumo[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Descripción</label>
                        <input type="text" id="descripción_insumo" class="input input-insumos" name="descripcion_insumo"
                            placeholder="Ingrese una descripción para este insumo">
                    </div>
                    <div>
                        <label for="">Seleccione una subcategoria</label>
                        <select class="input input-insumos" id="subcat" name="idsubcat">
                            {% for subcat in Subcat %}
                            <option value="{{subcat[0]}}">{{subcat[2]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Composición principal</label>
                        <select class="input input-insumos" id="ComposicionP" name="idComposicionP">
                            {% for composicionp in Composicionp %}
                            <option value="{{composicionp[0]}}">{{composicionp[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="">Frecuencia de aplicacion</label>
                        <input type="text" id="frecuenciaAplicacion_insumo" class="input input-insumos"
                            name="frecuenciaAplicacion_insumo"
                            placeholder="Ingrese una descripción para este insumo acerca de la frecuencia de aplicacion">
                    </div>
                    <div>
                        <label for="">Durabilidad</label>
                        <input type="text" id="durabilidad" class="input input-insumos" name="durabilidad"
                            placeholder="Ingrese durabilidad aproximada para este insumo">
                    </div>
                    <div>
                        <label for="">Compatibilidad</label>
                        <input type="text" id="compatibilidad" class="input input-insumos" name="compatibilidad"
                            placeholder="Ingrese durabilidad aproximada para este insumo">
                    </div>
                    <div>
                        <label for="">Precauciones</label>
                        <input type="text" id="precauciones" class="input input-insumos" name="precauciones"
                            placeholder="Ingrese durabilidad aproximada para este insumo">
                    </div>
                </section>
                <section class="btn-agregar">
                    <button type="button" class="btn" id="btn-cancel">Cancelar</button>
                    <button type="submit" class="btn " id="btn-add-users">Agregar</button>
                </section>
            </form>
        </div>
    </div>
</section>

<!-- Modal editar usuarios -->

<div id="myModal" class="modal">
    <div class="modal-content form-subcat">
        <span class="close">&times;</span>
        <h2>Editar insumos</h2>
        <form action="/editarInsumo" method="post" class="form_edit_insumo">
            <div class="inputs-insumos">
                <div class="input-insumos">
                    <input type="hidden" id="id_editar_insumo" name="id_editar_insumo" value="{{insumos.id}}">
                    <label for="">Nombre completo</label>
                    <input type="text" id="insumo_editar" class="input" name="insumo_editar" value="">
                    
                    <label for="">Tipo de insumo</label>
                    <select type="text" id="tipoInsumo_editar" name="tipoInsumo_editar" class="input">
                        {% for tiposInsumo in TiposInsumo %}
                        <option name="idtipoInsumo" value="{{tiposInsumo[0]}}">{{tiposInsumo[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inputs-modal-insumos">
                    <label for="">Descripción</label>
                    <input type="text" id="descripcion_insumo_editar" class="input" name="descripcion_insumo_editar"
                        value="">
                    <label for="">Subcategoria</label>
                    <select type="text" id="subcat_editar" name="subcat_editar" class="input">
                        {% for subcat in Subcat %}
                        <option name="idsubcat" value="{{subcat[0]}}">{{subcat[2]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inputs-modal-insumos">
                    <label for="">Composición principal</label>
                    <select type="text" id="ComposicionP_editar" name="ComposicionP_editar" class="input">
                        {% for composicionp in Composicionp %}
                        <option name="idComposicionP" value="{{composicionp[0]}}">{{composicionp[1]}}</option>
                        {% endfor %}
                    </select>
                    <label for="">Aplicacion ideal</label>
                    <select type="text" id="idaplicaIdeal_editar" name="idaplicaIdeal_editar" class="input">
                        {% for aplicaIdeal in Aplicaideal %}
                        <option name="idaplicaIdeal" value="{{aplicaIdeal[0]}}">{{aplicaIdeal[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inputs-modal-insumos">
                    <label for="">Frecuencia de aplicacion</label>
                    <input type="text" id="frecuenciaAplicacion_insumo_editar" class="input"
                        name="frecuenciaAplicacion_insumo_editar" value="">

                    <label for="">Durabilidad</label>
                    <input type="text" id="durabilidad_editar" class="input" name="durabilidad_editar" value="">
                </div>
                <div class="inputs-modal-insumos">
                    <label for="">Compatibilidad</label>
                    <input type="text" id="compatibilidad_editar" class="input" name="compatibilidad_editar" value="">
                    <label for="">Precauciones</label>
                    <input type="text" id="precauciones_editar" class="input" name="precauciones_editar" value="">
                </div>
            </div>
            <div class="btn-modal">
                <button type="button" class="btn close-modal">Cancelar</button>
                <button type="submit" class="btn" id="btn-edit-categories">Editar</button>
            </div>
        </form>
    </div>
</div>


<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}