{% extends "layout.html" %}
{% block title %}
Inventario | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <h2 id="saludo"></h2>
    <p>Bienvenid@, {{session["user_name"]}}</p>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="buscar_inventario" placeholder="Buscar inventario">
        </div>
        <div>
            <button class="btn-add-inventario btn">Agregar inventario</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    <div class="table-inventario">
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Precio total inversión</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla_inventario">
                <tr>
                    {% for infoInventario in infoInventario %}
                    <td>{{infoInventario.nombre_producto}}</td>
                    <td>{{infoInventario.precio_venta}}</td>
                    <td>{{infoInventario.cantidad}}</td>
                    <td>{{infoInventario.precio_total_inversion}}</td>
                    <td class="btn-acciones">
                        <input type="hidden" name="producto_id" id="id_prod" value="{{infoInventario.producto_id}}">
                        <button class="btn-produccion " data-id="${planta.id}">
                            <i class="material-icons">compost</i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- modal produccion -->
<div id="ModalProduccion" class="modal-produccion">
    <div class="modal-content-produccion">
        <div class="inputplantas-title">
            <h2>Agregar plantas de producción</h2>
            <span class="close" id="close-pro">&times;</span>
        </div>
        <form action="/produccion" class="form-produccion" method="post">
            {% for info in infoInventario%}
            <div class="img-info-cont">
                <div class="img-cont">
                    <img alt="planta" class="imgProduccion" src=" {{info.imagen_producto}}">                     
                </div>
                
                <div class="info-planta-cont">
                    <div class="fecha-cont">
                        <div class="fecha">
                            <label for="">Fecha: </label>
                            <p></p>
                        </div>
                    </div>
                    <div class="textos-cont">
                        <div class="textos">
                            <input type="hidden" name="id_planta_produccion" id="planta-idProduccion" value="">
                            <label for="">Nombre: {{info.nombre_producto}} </label>
                            <input type="text" id="nombrePlantaproduccion" name="nombrePlanta" class="sinborde nombreplanta" readonly value="{{info.nombre_producto}}">
                        </div>
                        <div class="textos">
                            <label for="">Descripción: </label>
                            <input type="text" name="descripcionPlanta" id="descripcionPlanta" class="sinborde" readonly value="{{info.descripcion_producto}}">
                        </div>
                        <div class="textos">
                            <label for="">Precio unitario: </label>
                            <input type="text" class="sinborde" readonly name="precioPlanta" id="precioPlanta" value="{{info.precio_venta}}">
                        </div>
                    </div>

                </div>
            </div>
            <div class="cantidad-cont">
                <div>
                    <label for="">Nota</label>
                    <textarea name="nota" class="textarea input-plantas" id="nota"></textarea>
                </div>
                <div class="tipomovi">
                    <label for="">Tipo de movimiento</label>
                    <select class="input input-plantas" id="tipomovi" name="tipomovi">
                        {% for tipomovi in movimientos %}
                        <option value="{{ tipomovi[0] }}">{{ tipomovi[1] }}</option>
                        {% else %}
                        <option value="">No hay tipos de movimiento disponibles</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="">Cantidad</label>
                    <input type="number" class="input input-plantas" name="cantidad" id="cantidad">
                </div>
            </div>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-pro">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Agregar</button>
                </div>
            </div>
            {%endfor%}
        </form>
    </div>
</div>
{% endblock %}