{% extends "layout.html" %}
{% block title %}
Inventario | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <div>
        <h2 id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </div>
    <div class="modulo-container ">
        <h3>Modulo de Inventario</h3>
    </div>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="buscar_inventario" placeholder="Buscar inventario">
        </div>
        <div>
            <button class="btn btn-add-producto" id="btn-add-producto">Añadir producto</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    <div class="table-inventario" id="inventario">
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla_inventario">
                <tr>
                    {% for infoInventario in infoInventario %}
                    <td style="display: none;">{{infoInventario.producto_id}}</td>
                    <td>{{infoInventario.nombre_producto}}</td>
                    <td>{{infoInventario.precio_venta}}</td>
                    <td>{{infoInventario.cantidad}}</td>
                    <td style="display: none;"><img src="{{infoInventario.imagen_url}}" alt="producto"
                            class="mini-imgInsumo"></td>
                    <td style="display: none;">{{infoInventario.produccion_id}}</td>
                    <td style="display: none;">{{infoInventario.tipo_producto}}</td>
                    <td style="display: none;" class="unidad_medida">{{infoInventario.unidad_medida}}</td>

                    <td class="btn-acciones">
                        <button class="btn-produccion" data-id="{{infoInventario.producto_id}}">
                            <i class="material-icons">compost</i>
                        </button>

                        <button class="btn-baja-produccion " data-id="{{infoInventario.producto_id}}">
                            <i class="material-symbols-outlined">grocery</i>
                        </button>
                        
                        <button class="btn-darbaja" data-id="{infoInventario.producto_id}">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- modal btn produccion -->
<div id="ModalProduccion" class="modal-produccion">
    <div class="modal-content-produccion">
        <div class="inputplantas-title">
            <h2>Agregar productos a inventario</h2>
            <span class="close" id="close-pro">&times;</span>
        </div>
        <form action="/produccion" class="form-produccion" method="post">
            <div class="fecha-cont">
                <input type="text" id="nombreProductoproduccion" name="nombrePlanta" class="sinborde nombreplanta"
                    readonly value="">
                <div class="fecha_agregar">
                    <!-- <label for="">Fecha: </label> -->
                    <p></p>
                </div>
            </div>
            <div class="img-info-cont">
                <div class="img-cont">
                    <img alt="planta" class="imgProduccion" id="imgProduccion" src="">
                </div>
                <div class="info-planta-cont">
                    <div class="textos-cont">
                        <div class="textos">
                            <div class="precio-cantidad-cont">
                                <!-- <div class="precio-cont">
                                    <label for="">Precio unitario</label>
                                    <input type="number" class="input input-plantas" min="0" name="precio" id="precio" value="">
                                </div> -->
                                <div>
                                    <label for="">Precio</label>
                                    <input type="number" class="input input-plantas" name="precio" id="precioProducto"
                                        value="{{infoInventario.precio_venta}}" placeholder="0.00">

                                </div>
                                <div>
                                    <label for="">Ingrese una cantidad</label>
                                    <input type="number" class="input input-plantas" min="0" name="cantidad"
                                        id="cantidad" placeholder="0.00">
                                </div>
                            </div>
                            <input type="hidden" name="id_planta_produccion" id="idProduccion" value="">
                            <input type="hidden" name="tipo_producto" id="tipo_producto" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cantidad-cont">
                <div class="nota-precio-cont">
                    <label for="">Nota</label>
                    <textarea name="nota" class="textarea-inventario input-plantas" id="nota"  placeholder="Ej. planta de jades 40 unidades"></textarea>
                </div>
            </div>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-pro">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal btn agregar producto a stock -->
<div id="ModalAgregarProducto" class="modal-inventario">
    <div class="modal-content-inventario">
        <div class="inputplantas-title">
            <h2>Agregar producto a stock</h2>
            <span class="close" id="close-producto">&times;</span>
        </div>
        <form action="/agregar_produccion" class="form-produccion" method="post">
            <div class="info-fecha-cont">
                <div class="textos-cont">
                    <select name="id_planta_produccion" id="idProd" class="input input-plantas select-producto">
                        {% for producto in productossinagregar %}
                        <option value="{{ producto[0] }}" data-tipo="{{ producto[3] }}">{{ producto[1] }}
                        </option>
                        {% endfor %}
                        <option value="" selected>Selecciona un producto</option>
                    </select>
                    <input type="hidden" name="tipo_producto" id="tipoProducto">
                </div>
                <div class="fecha-cont">
                    <div class="fecha">
                        <label for="">Fecha: </label>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="cantidad-cont">
                <div class="cant-precio-cont">
                    <div>
                        <label for="">Ingrese una cantidad</label>
                        <input type="number" placeholder="0.00" class="input input-plantas" name="cantidad" id="cantidad">
                    </div>
                    <div>
                        <label for="">Precio</label>
                        <input type="number" class="input input-plantas" placeholder="0.00" name="cantidad" id="cantidad">
                    </div>
                </div>
                <div>
                    <label for="">Nota</label>
                    <textarea name="nota" class="textarea-baja input-plantas" placeholder="Ej. planta de jades 40 unidades" id="nota"></textarea>
                </div>
            </div>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-producto">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal dar de baja -->
<div id="ModalBaja" class="modal-baja">
    <div class="modal-content-baja">
        <div class="inputplantas-title">
            <h2>Dar de baja a productos del inventario</h2>
            <span class="close" id="close-baja">&times;</span>
        </div>
        <form action="/bajaproductos" class="form-produccion" method="post">
            <div class="fecha-cont">
                <input type="text" id="nombreProductoBaja" name="nombrePlanta" class="sinborde nombreplanta" readonly value="">
                <div class="fecha_baja">
                    <!-- <label for="">Fecha: </label> -->
                    <p></p>
                </div>
            </div>
            <div class="img-info-cont">
                <div class="img-cont">
                    <img alt="planta" class="imgBaja" id="imgBaja" src="">
                </div>
                <div class="info-planta-cont">
                    <div class="textos-cont">
                        <div class="textos">
                            <div class="precio-cantidad-cont">
                                <div>
                                    <label for="">Precio: </label>
                                    <input type="text" class="input input-plantas" readonly name="precioPlanta"
                                        id="precioProductoBaja" value="">
                                </div>
                                <div class="unidad_medida-baja">
                                    <label for="">Unidad de medida: </label>
                                    <input type="text" class="input input-plantas" readonly name="unidad_medida"
                                        id="unidad_medida_baja" value="">
                                </div>
                                <div>
                                    <label for="">Ingrese una cantidad: </label>
                                    <input type="number" class="input input-plantas" name="cantidad" id="cantidad">
                                </div>
                            </div>
                            <input type="hidden" name="id_producto_baja" id="id_producto_baja" value="">
                            <input type="hidden" name="tipo_producto_baja" id="tipo_producto_baja" value="">

                        </div>
                    </div>
                </div>
            </div>
            <div class="cantidad-cont">
                <div class="nota-precio-cont">
                    <label for="">Nota</label>
                    <textarea name="nota" class="textarea input-plantas" id="nota"></textarea>
                </div>
            </div>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-baja">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- modal dar de baja -->
<div id="ModalBajaProduccion" class="modal-baja">
    <div class="modal-content-baja-produccion">
        <div class="inputplantas-title">
            <h2>Dar de baja a insumos para producción</h2>
            <span class="close" id="close-bajaP">&times;</span>
        </div>
        <form action="/insumosproduccion" class="form-produccion" method="post">
            <div class="fecha-cont">
                <input type="text" id="nombreProductoBajaP" name="nombrePlanta" class="sinborde nombreplanta" readonly
                    value="">
                <div class="fecha_baja">
                    <!-- <label for="">Fecha: </label> -->
                    <p></p>
                </div>
            </div>
            <div class="img-info-cont">
                <div class="img-cont">
                    <img alt="planta" class="imgBajaP" id="imgBaja" src="">
                </div>
                <div class="info-planta-cont">
                    <div class="textos-cont">
                        <div class="textos">
                            <div class="precio-cantidad-cont">
                                <div>
                                    <label for="">Precio: </label>
                                    <input type="text" class="input input-plantas" readonly name="precioPlanta"
                                        id="precioProductoBajaP" value="">
                                </div>
                                <div class="unidad_medida-baja">
                                    <label for="">Unidad de medida: </label>
                                    <input type="text" class="input input-plantas" readonly name="unidad_medida"
                                        id="unidad_medida_bajaP" value="">
                                </div>
                                <div>
                                    <label for="">Ingrese una cantidad: </label>
                                    <input type="number" class="input input-plantas" name="cantidad" id="cantidad-bajaP">
                                </div>
                            </div>
                            <input type="hidden" name="id_producto_baja" id="id_producto_bajaP" value="">
                            <input type="hidden" name="tipo_producto_baja" id="tipo_producto_bajaP" value="">

                        </div>
                    </div>
                </div>
            </div>
            <div class="cantidad-cont">
                <div class="nota-precio-cont">
                    <label for="">Nota</label>
                    <textarea name="nota" class="textarea input-plantas" id="nota"></textarea>
                </div>
            </div>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-bajaP">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/inventario.js"></script>

<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}