<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <title>Plantilla</title>
</head>
<body >
    <div class="navbar">
        <div class="logo">
            <img src="/static/img/logoElJaboncillo.png" alt="">
        </div>
        <div class="fecha">
            <p id="fechaHora"></p>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <h2>Administracion</h2>
            <div class="items">
                <i class="material-icons">chevron_right</i>
                <a href="#">Gestion inventario</a>
            </div>
            <div class="items">
                <a href="#">Gestion inventario</a>
            </div>
            <div class="items">
                <a href="#">Gestion inventario</a>
            </div>
        </div>  
        <div class="contenido">
            <h1>Plantilla para la parte del admin del sistema</h1>
        </div>
    </div>
    
</body>
<script src="/static/js/layout.js"></script>
</html>