<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reportes_ventas.css">
    <link rel="stylesheet" href="/static/css/gastos.css">
    <link rel="stylesheet" href="/static/css/inventario.css">
    <link rel="stylesheet" href="/static/css/catalogo.css">
    <link rel="stylesheet" href="/static/css/configuracion.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/categorias.css">
    <link rel="stylesheet" href="/static/css/sub_categorias.css">
    <link rel="stylesheet" href="/static/css/usuarios.css">
    <link rel="stylesheet" href="/static/css/plantas.css">
    <link rel="stylesheet" href="/static/css/proveedores.css">
    <link rel="stylesheet" href="/static/css/insumos.css">
    <link rel="stylesheet" href="/static/css/lista_deseo.css">
    <link rel="stylesheet" href="/static/css/ventas.css">
    <link rel="stylesheet" href="/static/css/proveedores.css">
    <link rel="stylesheet" href="/static/css/inicio_admin.css">
    <link rel="stylesheet" href="/static/css/compras.css">
    <link rel="stylesheet" href="/static/css/devoluciones.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=grocery" />
        <link rel="shortcut icon" href="/static/img/logoElJaboncilloflor.png">
        
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <title>{%block title%} {%endblock%}</title>
</head>

<body>
    <section class="all-screen">
        <aside class="sidebar">
            {% if session["rol_id"] == 1 %}
            <div class="sidebar-titulo-user">
                <h2>{{session["user_name"]}}</h2>
                <p>{{session["user_rol"]}}</p>
            </div>
            <div class="items">
                <div class="items-back">
                    <button class="btn-items-inicio">
                        <i class="material-icons">home</i>
                        <a href="/inicioAdmin">
                            <p class="btn_texto">Inicio</p>
                        </a>
                    </button>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">inventory</i>
                        <p class="btn_texto">Inventario</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/plantas">Plantas</a></li>
                            <li><a href="/insumos">Insumos</a></li>
                            <li><a href="/inventario">Inventario</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">payments</i>
                        <p class="btn_texto">Ventas</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/ventas">Venta</a></li>
                            <li><a href="/devoluciones">Devoluciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">local_mall</i>
                        <p class="btn_texto">Compras</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/compras">Compras</a></li>
                            <li><a href="/proveedores">Proveedores</a></li>
                            <li><a href="/gastos">Gastos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">fact_check</i>
                        <a href="/Reportes/Ventas">Dashboard</a>
                    </button>
                    
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">fact_check</i>
                        <p class="btn_texto">Listas de deseo</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/listaDAdmin">Listas de deseo por usuario</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">group_add</i>
                        <p class="btn_texto">Usuarios</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/usuarios">Usuarios</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">category</i>
                        <p class="btn_texto">Categorias</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/categorias">Categorias</a></li>
                            <li><a href="/subCategorias">Subcategorias</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">local_mall</i>
                        <p class="btn_texto">Reportes</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/reportesCompras">Compras</a></li>
                            <li><a href="/reportesVentas">Ventas</a></li>
                            <li><a href="/reportesDevoluciones">Devoluciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="configuracion">
                <button class="btn-items-config">
                    <i class="material-icons">settings</i>
                    <a class="item" href="/configuracion">
                        <p>Configuración del sistema</p>
                    </a>
                </button>
            </div>
            {%else%}
            <div class="sidebar-titulo-user">
                <h2>{{session["user_name"]}}</h2>
                <p>{{session["user_rol"]}}</p>
            </div>
            <div class="items">
                <div class="items-back">
                    <button class="btn-items-inicio">
                        <i class="material-icons">home</i>
                        <a href="/inicioAdmin">
                            <p class="btn_texto">Inicio</p>
                        </a>
                    </button>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">payments</i>
                        <p class="btn_texto">Ventas</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/ventas">Venta</a></li>
                            <li><a href="/devoluciones">Devoluciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">local_mall</i>
                        <p class="btn_texto">Compras</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/compras">Compras</a></li>
                        
                            <li><a href="/gastos">Gastos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">local_mall</i>
                        <p class="btn_texto">Reportes</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/reportesCompras">Compras</a></li>
                            <li><a href="/reportesVentas">Ventas</a></li>
                            <li><a href="/reportesDevoluciones">Devoluciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-back">
                    <button class="btn-items">
                        <i class="material-icons">fact_check</i>
                        <p class="btn_texto">Listas de deseo</p>
                        <i class="material-icons key">keyboard_arrow_right</i>
                    </button>
                    <div class="options">
                        <ul class="list-options">
                            <li><a href="/listaDAdmin">Listas de deseo por usuario</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </aside>
        <section id="wrapper" class="seccion-wrapper">
            <nav class="navbar">
                <div class="navbar-content">
                    <i class="material-icons  menu-toggle">menu</i>
                    <a href="/inicioAdmin"> <img src="/static/img/logoElJaboncillo.png" alt="logo"></a>
                </div>
                <div class="fecha-btnlogout">
                    <div class="fecha">
                        <p id="fecha"></p>
                        <p>/</p>
                        <p id="hora"></p>
                    </div>
                    <div >
                        <a href="/logout"><button class="btn-logout">Cerrar sesión</button></a>
                    </div>
                </div>
            </nav>
            <main class="main">
                {% block main %}

                {% endblock %}
            </main>
        </section>
    </section>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!-- Carga jQuery primero -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://jasonday.github.io/printThis/printThis.js"></script> -->

    <!-- Luego carga Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- Carga Axios para Cloudinary -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Cargar Socket.io desde un CDN -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    


</body>

</html>