{% extends "layout.html" %}
{% block title %}
Listas de deseo | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <div>
        <h2 id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </div>
    <div class="modulo-container">
        <h3>Módulo de listas de deseo</h3>
    </div>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="search" placeholder="Buscar listas de deseo">

        </div>
        <div>

        </div>
    </div>
</section>
<section class="container-table-inputs">
    <div class="table-categories">
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Correo</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for infoListaDeseo in Lista_deseo %}
                <tr>
                    <td>{{infoListaDeseo.nombre_completo}}</td>
                    <td>{{infoListaDeseo.correo}}</td>
                    <td>{{infoListaDeseo.fecha}}</td>
                    <td class="btn-acciones">
                        <input type="hidden" id="id_anular" name="id_anular" value="{{infoListaDeseo.id}}">
                        <button class="btn modal-detalle-btn" id="modal-detalle" data-id="{{ infoListaDeseo.id}}">
                            Ver detalles
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- Modal para mostrar el detalle de la lista de deseos -->
<div id="Modaldetalle" class="modal-lista-deseo">
    <div class="modal-content-lista-deseo">
        <div class="detalle-title">
            <h2>Detalle de la Lista de Deseos</h2>
            <span class="close" id="close-modal-lista-deseo">&times;</span>
        </div>
        <div class="lista-deseo-content">
            <div>
                <label for="">Nombre del cliente</label>
                <input type="text" id="nombre_completo" name="nombre_completo" placeholder="Nombre completo">
            </div>
            <table class="detalle-lista-deseo-table">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Producto</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="detalle-lista-deseo-body">
                    <!-- Los detalles se cargarán dinámicamente aquí -->
                </tbody>
            </table>
        </div>
        <div class="btn-contenedor">
            <button id="ir_a_venta" class="btn">Ir a Venta</button>
            <button class=" btn-cancelar" id="btn-cancelar">Cancelar</button>
        </div>
    </div>
</div>

<!-- modal de ventas -->
<div class="container-inputVenta">
    <div class="nueva-venta">
        <div class="inputVenta-title">
            <h3>NUEVA VENTA</h3>
            <span class="close" id="close-modal-ventas">&times;</span>
        </div>
        <form action="/ventas" id="form-venta" method="post" class="form-venta">
            <section class="inputs-venta" id="lista-productos">
                <div class="inputs-cont row-1">
                    <div>
                        <label for="">Cliente</label>
                        <input type="text" id="nombreCliente" class="input input-plantas" name="nombreCliente"
                            placeholder="Ej. Ismael Hernandez">
                    </div>
                    <div>
                        <label>Tipo de cliente</label>
                        <select class="input input-plantas" id="tipoCliente-select" name="tipoCliente-select">
                            {% for tipoclientes in tipocliente %}
                            <option name="tipoCliente-select" value="{{tipoclientes[0]}}">{{tipoclientes[1]}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label>Fecha</label>
                        <input type="text" id="fecha_venta" class="input input-plantas" name="fecha" placeholder="fecha"
                            readonly>
                    </div>
                </div>
                <div class="inputs-cont row-2">
                    <div>
                        <label>Subcategorias</label>
                        <select class="input input-plantas" id="subcategoria-selectLista" name="subcategoria-selectLista">
                            {% for infoSubcat in infoSubcat %}
                            <option name="subcategoria-selectLista" value="{{infoSubcat[0]}}">{{infoSubcat[2]}}</option>
                            {% endfor %}
                            <option value="" selected>Selecciona una subcategoria</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Producto</label>
                        <select class="input input-plantas" id="producto" name="producto">
                            {% for producto in productos %}
                            <option name="producto" value="{{producto[0]}}">
                                {{producto[1]}}
                            </option>
                            {% endfor %}
                            <option value="" selected>Selecciona un producto</option>
                        </select>
                    </div>
                    <div>
                        <label>Colores</label>
                        <select class="input input-plantas" id="color-select" name="color-select">
                            {% for color in colores %}
                            <option name="color-select" value="{{color[0]}}">
                                {{color[1]}}
                            </option>
                            {% endfor %}
                            <option value="" selected>Selecciona una caracteristica</option>
                        </select>
                    </div>
                    <div>
                        <label>Medidas</label>
                        <select class="input input-plantas" id="medida-select" name="medida-select">
                            {% for medida in medidas %}
                            <option name="medida-select" value="{{medida[0]}}">
                                {{medida[1]}}
                            </option>
                            {% endfor %}
                            <option value="" selected>Selecciona una caracteristica</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Unidad de medida</label>
                        <select class="input input-plantas" id="unidad-select" name="unidad-select">
                            <option value="" selected>Selecciona una caracteristica</option>
                            {% for unidad in unidades %}
                            <option value="{{unidad[2]}}">
                                {{unidad[1]}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row-3">
                    <div class="row-3-cont">
                        <div>
                            <label>Cantidad</label>
                            <input type="number" id="cantidad" class="input input-plantas validar-input" name="cantidad"
                                placeholder="0" min="0">
                        </div>
                        <div>
                            <label>Precio</label>
                            <input type="number" id="precio" class="input input-plantas validar-input" name="precio"
                                min="0" placeholder="0.00">
                        </div>
                    </div>

                    <div>
                        <input type="hidden" name="idProd" id="idProd">
                    </div>
                    <div>
                        <input type="hidden" name="cantidadDispo" id="cantidadDispo">
                    </div>
                    <div>
                        <input type="hidden" name="tipoProducto" id="tipoProducto">
                    </div>
                    <button type="button" class="btn agregar_producto" id="agregar_producto">Agregar</button>
                </div>
                <div class="productos-ventas">
                    <table id="lista-productos-seleccionados" class="tabla-venta">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unit</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="inputs-cont row-4">
                    <div>
                        <label>Tipos de pago</label>
                        <select class="input input-plantas" id="tipoPago-select" name="tipoPago-select">
                            {% for tipo_pago in tipospago %}
                            <option name="tipoPago-select" value="{{tipo_pago[0]}}" data-id="{{tipo_pago[0]}}">
                                {{tipo_pago[1]}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Subtotal</label>
                        <input type="number" id="subtotal" class="input input-plantas" name="subtotal"
                            placeholder="0.00" >
                    </div>
                    <div>
                        <label>Total</label>
                        <input type="number" id="total" class="input input-plantas" name="total" placeholder="0.00"
                            >
                    </div>
                    <div>
                        <label>Nota</label>
                        <input type="text" id="nota-venta" class="input input-plantas" name="nota-venta"
                            placeholder="Ej. ">
                    </div>
                </div>
            </section>
            <section class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <div id="productos-dinamicos"></div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-venta">Cancelar</button>
                    <button type="submit" class="btn" id="btn-add-venta">Agregar</button>
                </div>
            </section>
        </form>
    </div>
</div>

<script src="/static/js/lista_deseo.js"></script>



<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}