{% extends "layout.html" %}
{% block title %}
Plantas | El Jaboncillo
{% endblock %}

{% block main %}
<section class="all-screen-plantas">
    <section class="bienvenida">
        <h2 id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </section>
    <section class="busqueda">
        <div class="search">
            <div class="seccion-buscar">
                <i class="material-icons">search</i>
                <input class="input-search" name="search" id="buscar_plantas" placeholder="Buscar plantas">
            </div>
            <div>
                <button class="btn-add-planta btn">Agregar planta</button>
            </div>
        </div>
    </section>
    <div class="container-table-inputs">
        {%if InfoPlanta == [] %}
        <div class="table-insumos">
            <h3>No hay plantas en la lista</h3>
        </div>
        {%else%}
        <div class="table-plantas" id="tabla-plantas">
            <table class="table">
                <thead>
                    <tr>
                        <th>Imágen</th>
                        <th>Planta</th>
                        <th>Subcategoria</th>
                        <th>Color</th>
                        <th>Tamaño</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tabla_plantas">
                    <tr>
                        {% for infoPlantas in InfoPlanta %}
                        <td id="planta-{{ infoPlantas.id }}">
                            {% if infoPlantas.imagen_url %}
                            <div class="img-container">
                                <img src="{{infoPlantas.imagen_url}}" alt="planta" class="mini-imgInsumo"
                                    id="imagen-planta">
                            </div>
                            {% else %}
                            <div class="image-upload">
                                <form action="/plantas" class="form_agregarimgplanta" id="form_agregarimgplanta">
                                    <input type="hidden" name="id_planta" class="id_planta_agregar"
                                        id="id_planta_agregar" value="{{infoPlantas.id}}">
                                    <input type="file" id="file_input_agregar" class="file-input"
                                        accept=".png, .jpg, .jpeg">
                                    <label for="file_input_agregar" class="upload-label">
                                        <span class="upload-icon">📁</span> <!-- Icono de archivo -->
                                        <span class="upload-text">Subir imagen</span>
                                    </label>
                                </form>
                            </div>
                            {% endif %}
                        </td>
                        <td style="display: none;">{{infoPlantas.id}}</td>
                        <td>{{infoPlantas.nombre}}</td>
                        <td style="display: none;">{{infoPlantas.descripcion}}</td>
                        <td>{{infoPlantas.subcategoria}}</td>
                        <td>{{infoPlantas.color}}</td>
                        <td>{{infoPlantas.rango}}</td>
                        <td style="display: none;">{{infoPlantas.entorno}}</td>
                        <td style="display: none;">{{infoPlantas.agua}}</td>
                        <td style="display: none;">{{infoPlantas.suelo}}</td>
                        <td style="display: none;">{{infoPlantas.temporada}}</td>
                        <td>{{infoPlantas.precio_venta}}</td>
                        <td style="display: none;">{{infoPlantas.id_subcategoria}}</td>
                        <td style="display: none;">{{infoPlantas.id_color}}</td>
                        <td style="display: none;">{{infoPlantas.id_rango}}</td>
                        <td style="display: none;">{{infoPlantas.id_entorno}}</td>
                        <td style="display: none;">{{infoPlantas.id_agua}}</td>
                        <td style="display: none;">{{infoPlantas.id_suelo}}</td>
                        <td style="display: none;">{{infoPlantas.id_temporada}}</td>
                        <td class="btn-acciones">
                            <button class="btn-edit btn-edit-plantas">
                                <i class="material-icons">edit</i>
                            </button>
                           
                            <form action="/eliminarPlanta" method="post" class="form-eliminar">
                                <input type="hidden"  class="id_eliminar" name="id_eliminar" value="{{infoPlantas.id}}">
                                <button class="btn-delete" type="submit">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        <div class="container-inputPlantas">
            <div class="agregar-plantas">
                <div class="inputPlantas-title">
                    <h3>AGREGAR PLANTA</h3>
                    <span class="close" id="close_agregar">&times;</span>
                </div>
                <form action="/plantas" id="form-plantas" method="post" class="form-plantas">
                    <section class="inputs-plantas">
                        <div class="inputs-cont columna-1">
                            <div>
                                <label for="">Nombre</label>
                                <input type="text" id="nombrePlanta" class="input input-insumos" name="nombrePlanta"
                                    placeholder="Nombre planta">
                            </div>
                            <div>
                                <label>Descripcion</label>
                                <textarea type="text" id="descripcion" class="input input-insumos" name="descripcion"
                                    placeholder="Descripcion"></textarea>
                            </div>
                            <div>
                                <label>Precio unitario</label>
                                <input type="number" id="precio" class="input input-insumos" name="precio"
                                    placeholder="Ingrese el precio" min="0">
                            </div>
                        </div>
                        <div class="inputs-cont columna-2">
                            <div class="inputs-select">
                                <label>Colores</label>
                                <select class="input input-insumos" id="color" name="idColor" required>
                                    {% for colores in Colores %}
                                    <option value="{{ colores[0] }}">{{ colores[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inputs-select">
                                <label>Subcategorias</label>
                                <select class="input input-insumos" id="sub" name="idSub" required>
                                    {% for subcategoria in Subcategorias %}
                                    <option value="{{ subcategoria[0] }}">{{ subcategoria[2] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inputs-select">
                                <label>Rangos de tamaño</label>
                                <select class="input input-insumos" id="rango" name="idRango" required>
                                    {% for rango in Rangos %}
                                    <option value="{{ rango[0] }}">{{ rango[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="inputs-cont columna-3">
                            <div>
                                <label>Entorno ideal</label>
                                <select class="input input-insumos" id="entorno" name="idEntorno" required>
                                    {% for entorno in Entornos %}
                                    <option value="{{ entorno[0] }}">{{ entorno[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label>Requerimiento de agua</label>
                                <select class="input input-insumos" id="agua" name="idAgua" required>
                                    {% for agua in Agua %}
                                    <option value="{{ agua[0] }}">{{ agua[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label>Tipo de suelo</label>
                                <select class="input input-insumos" id="suelo" name="idSuelo" required>
                                    {% for suelo in Suelos %}
                                    <option value="{{ suelo[0] }}">{{ suelo[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label>Temporada de plantacion</label>
                                <select class="input input-insumos" id="temporada" name="idTemporada">
                                    {% for temporada in Temporada %}
                                    <option value="{{ temporada[0] }}">{{ temporada[1] }}</option required>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </section>

                    <section class="btn-agregar">
                        <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                        <div>
                            <button type="button" class="btn btn-cancel" id="btn_cancel_agregar">Cancelar</button>
                            <button type="submit" class="btn" id="btn-add-plantas">Agregar</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Modal editar planta -->
<div id="myModal" class="modal-plantas">
    <div class="modal-content-plantas form-plantas">
        <div class="inputplantas-title">
            <h2>Editar Plantas</h2>
            <span class="close" id="close-edit">&times;</span>
        </div>
        <form action="/editarPlantas" method="post" class="form_editar_plantas">
            <section class="inputs-plantas">
                <div class="inputs-cont columna-1">
                    <div>
                        <input type="hidden" id="id_editar_planta" name="id_editar_planta">
                        <label for="">Nombre</label>
                        <input type="text" id="nombrePlanta_editar" class="input input-plantas"
                            name="nombrePlanta_editar" value="">
                    </div>
                    <div>
                        <label for="">Descripción</label>
                        <textarea id="descripcion_editar" class="input input-plantas" name="descripcion_editar"
                            value=""></textarea>
                    </div>
                    <div>
                        <label for="">Precio unitario</label>
                        <input type="number" id="precio_editar" class="input input-plantas" name="precio_editar"
                            value="" placeholder="Ingrese el precio unitario" min="0">
                    </div>
                    <div>
                        <label for="">Imagen</label>
                        <input type="file" id="img_uploader_plantas_editar" name="imagenPlanta"
                            class="input input-plantas" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
                <div class="inputs-cont columna-2">
                    <div class="input-colores">
                        <label for="">Colores</label>
                        <select class="input input-plantas" id="idColor_editar" name="idColor_editar" required>
                            {% for colores in Colores %}
                            <option name="idColor" value="{{colores[0]}}">{{colores[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-subcat">
                        <label for="">Subcategorias</label>
                        <select class="input input-plantas" id="idSubcategoria_editar" name="idSubcategoria_editar"
                            required>
                            {% for subcat in Subcategorias %}
                            <option name="idSub" value="{{ subcat[0] }}">{{ subcat[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-rango">
                        <label for="">Rangos de tamaño</label>
                        <select class="input input-plantas" id="idRango_editar" name="idRango_editar" required>
                            {% for rango in Rangos %}
                            <option name="idRango" value="{{ rango[0] }}">{{ rango[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputs-cont columna-3">
                    <div>
                        <label for="">Entorno ideal</label>
                        <select class="input input-plantas" id="idEntorno_editar" name="idEntorno_editar" required>
                            {% for entorno in Entornos %}
                            <option name="idEntorno" value="{{ entorno[0] }}">{{ entorno[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Requerimiento de agua</label>
                        <select class="input input-plantas" id="idAgua_editar" name="idAgua_editar" required>
                            {% for agua in Agua %}
                            <option value="{{ agua[0] }}">{{ agua[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Tipo de suelo</label>
                        <select class="input input-plantas" id="idSuelo_editar" name="idSuelo_editar">
                            {% for suelo in Suelos %}
                            <option name="idSuelo" value="{{ suelo[0] }}">{{ suelo[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="">Temporada de plantacion</label>
                        <select class="input input-plantas" id="idTemporada_editar" name="idTemporada_editar">
                            {% for temporada in Temporada %}
                            <option name="idTemporada" value="{{ temporada[0] }}">{{ temporada[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </section>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-edit">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- modal produccion -->
<div id="ModalProduccion" class="modal-produccion">
    <div class="modal-content-produccion">
        <div class="inputplantas-title">
            <h2>Agregar plantas de producción</h2>
            <span class="close" id="close-pro">&times;</span>
        </div>
        <form action="/produccion" class="form-produccion" method="post">
            <div class="img-info-cont">
                <div class="img-cont">
                    <img alt="planta" class="imgProduccion" src="">                     
                </div>
                
                <div class="info-planta-cont">
                    <div class="fecha-cont">
                        <div class="fecha">
                            <label for="">Fecha: </label>
                            <p></p>
                        </div>
                    </div>
                    <div class="textos-cont">
                        <div class="textos">
                            <input type="hidden" name="id_planta_produccion" id="planta-idProduccion" value="">
                            <label for="">Nombre: </label>
                            <input type="text" id="nombrePlantaproduccion" name="nombrePlanta" class="sinborde nombreplanta" readonly value="">
                        </div>
                        <div class="textos">
                            <label for="">Descripción: </label>
                            <input type="text" name="descripcionPlanta" id="descripcionPlanta" class="sinborde" readonly value="">
                        </div>
                        <div class="textos">
                            <label for="">Precio unitario: </label>
                            <input type="text" class="sinborde" readonly name="precioPlanta" id="precioPlanta" value="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="cantidad-cont">
                <div>
                    <label for="">Nota</label>
                    <textarea name="nota" class="textarea input-plantas" id="nota"></textarea>
                </div>
                <div class="tipomovi">
                    <label for="">Tipo de movimiento</label>
                    <select class="input input-plantas" id="tipomovi" name="tipomovi">
                        {% for tipomovi in movimientos %}
                        <option value="{{ tipomovi[0] }}">{{ tipomovi[1] }}</option>
                        {% else %}
                        <option value="">No hay tipos de movimiento disponibles</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="">Cantidad</label>
                    <input type="number" class="input input-plantas" name="cantidad" id="cantidad">
                </div>
            </div>
            <div class="btn-agregar">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                <div>
                    <button type="button" class="btn btn-cancel" id="btn-cancel-pro">Cancelar</button>
                    <button type="submit" class="btn" id="btn-edit-plantas">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{%endblock%}