{% extends "layout.html" %}
{% block title %}
Proveedores | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <div>
        <h2 id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </div>
    <div class="modulo-container">
        <h3>Módulo de proveedores</h3>
    </div>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="buscar_proveedores" placeholder="Buscar proveedores">
        </div>
        <div>
            <button class="btn-add-proveedores btn">Agregar proveedores</button>
        </div>
    </div>
</section>

<div class="container-table-inputs">
    {%if proveedores == [] %}
    <div class="table-insumos">
        <h3>No hay proveedores en la lista</h3>
    </div>
    {%else%}
    <div class="table-proveedores">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proveedor</th>
                    <th>Correo electronico</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla_proveedores">
                {% for proveedores in Proveedores %}
                <tr>
                    <td>{{proveedores.id }}</td>
                    <td>{{proveedores.nombre_proveedor}}</td>
                    <td>{{proveedores.correo_electronico}}</td>
                    <td>{{proveedores.telefono}}</td>
                    <td>{{proveedores.direccion}}</td>
                    <td class="btn-acciones">
                        <button class="btn-edit btn-edit-proveedores">
                            <i class="material-icons">edit</i>
                        </button>
                        <form action="/bajaProveedor" method="post" class="form-baja">
                            <input type="hidden" id="id_baja" name="id_baja" value="{{proveedores.id}}">
                            <button class="btn-delete" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%endif%}
    <div class="container-inputsProveedores">
        <div class="agregar-proveedor">
            <div class="inputProveedores-title">
                <h3>Nuevo Proveedor</h3>
                <span class="close" id="close_agregar_proveedor">&times;</span>
            </div>
            <form action="/proveedores" id="form-proveedores" method="post" class="form-proveedores">
                <section class="input-proveedores">
                    <div class="grupo1">
                        <div class="input-contenido">
                            <div class="contenedor-obligatorio">
                                <label>Nombre del Proveedor</label>
                                <span class="spanobligatorio"> * Obligatorio</span>
                            </div>
                            <input type="text" id="nombreprov" class="input input-proveedor input-insumos" name="nombre"
                                placeholder="Nombre del Proveedor">
                        </div>

                        <div class="input-contenido">
                            <div class="contenedor-obligatorio">
                                <label>Telefono</label>
                                <span class="spanobligatorio"> * Obligatorio</span>
                            </div>
                            <input type="number" id="numeroTelefono" class="input input-proveedor input-insumos validar_telefono"
                                name="numeroTelefono" placeholder="Telefono" min="2">
                        </div>
                    </div>
                    <div class="grupo2">
                        <div class="input-contenido">
                            <div class="contenedor-obligatorio">
                                <label>Correo Electronico</label>
                                <span class="spanobligatorio"> * Obligatorio</span>
                            </div>
                            <input type="text" id="correoProveedor" class="input input-proveedor input-insumos"
                                name="correoProveedor" placeholder="Correo Electronico">
                        </div>
                        <div class="input-contenido">
                            <label>Direccion</label>
                            <textarea id="direccionprov" class="input input-proveedor input-insumos" name="direccion" placeholder="Direccion"></textarea>
                        </div>
                    </div>
                </section>
                <section class="btn-agregar-proveedor">
                    <img class="img-btn-add" src="/static/img/logoElJaboncillo.png" alt="logo">
                    <div class="btn-agregar">
                        <button type="button" class="btn btn-cancel" id="btn_cancel_proveedor">Cancelar</button>
                        <button type="submit" class=" btn btn-proveedor-agregar "
                            id="btn-add-proveedores">Agregar</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

<!-- Modal editar categoria -->
<div id="myModal" class="modal-prov">
    <div class="modal-content form-proveedoress">
        <div class="proveedor-title">
            <h2>Editar proveedor</h2>
            <span class="close">&times;</span>
        </div>
        <form action="/editarProveedores" method="post" class="form-proveedores form_edit">
            <div class="input-proveedores">
                <div class="grupo1">
                    <div class="input-contenido">
                        <input type="hidden" id="id_editar" name="id_editar" value="{{Proveedores.id}}">
                        <label for="">Nombre del Proveedor</label>
                        <input type="text" id="nombre_editar" class="input input-proveedor input-insumos"
                            name="nombre_editar" value="{{Proveedores.nombre_proveedor}}">
                    </div>
                    <div class="input-contenido">
                        <label for="">Telefono</label>
                        <input type="number" id="telefono_editar" class="input input-proveedor input-insumos"
                            name="telefono_editar" value="{{Proveedores.direccion}}">
                    </div>
                </div>
                <div class="grupo2">
                    <div class="input-contenido">
                        <label for="">Correo Electronico</label>
                        <input type="text" id="correo_editar" class="input input-proveedor input-insumos"
                            name="correo_editar" value="{{Proveedores.correo_electronico}}">
                    </div>
                    <div class="input-contenido">
                        <label for="">Direccion</label>
                        <textarea type="text" id="direccion_editar" class="input input-proveedor input-insumos"
                            name="direccion_editar" value="{{Proveedores.direccion}}"> </textarea>
                    </div>
                </div>

            </div>
            <div class="btn-modal">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="img-modal">
                <div class="btn-agregar">
                    <button type="button" class="btn btn-cancel close-modal">Cancelar</button>
                    <button type="submit" class="btn btn-proveedor-agregar" id="btn-edit-proveedores">Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}