{% extends "layout.html" %}
{% block title %}
Proveedores | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <h2>Buenos dias, </h2>
    <p>Bienvenida Janixa Centeno</p>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="search" placeholder="Buscar proveedores">
        </div>
        <div>
            <button class="btn-add-proveedores btn">Agregar proveedores</button>
        </div>
    </div>
</section>

<div class="container-table-inputs">
    {%if proveedores == [] %}
    <div class="table-insumos">
        <h3>No hay proveedores en la lista</h3>
    </div>
    {%else%}
    <div class="table-proveedores">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proveedor</th>
                    <th>Correo electronico</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedores in Proveedores %}
                <tr>
                    <td>{{proveedores.id }}</td>
                    <td>{{proveedores.nombre_proveedor}}</td>
                    <td>{{proveedores.correo_electronico}}</td>
                    <td>{{proveedores.telefono}}</td>
                    <td>{{proveedores.direccion}}</td>
                    <td class="btn-acciones">
                        <button class="btn-edit" id="openModalCat">
                            <i class="material-icons">edit</i>
                        </button>
                        <form action="/bajaProveedor" method="post" class="form-baja">
                            <input type="hidden" id="id_baja" name="id_baja" value="{{proveedores.id}}">
                            <button class="btn-delete" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%endif%}
    <div class="container-inputsProveedores">
        <div class="inputProveedores-title">
            <h3>Nuevo Proveedor</h3>
        </div>
        <form action="/proveedores" id="form-proveedores" method="post" class="form-proveedores">
            <section class="input-proveedores">
                <div>
                    <input type="text" id="nombre" class="input input-proveedores" name="nombre"
                        placeholder="Nombre del Proveedor">
                </div>
                <div>
                    <input type="text" id="correoProveedor" class="input input-proveedores" name="correoProveedor"
                        placeholder="Correo Electronico">
                </div>
                <div>
                    <input type="number" id="numeroTelefono" class="input input-proveedores" name="numeroTelefono"
                        placeholder="Telefono">
                </div>
                <div>
                    <input type="text" id="direccion" class="input input-proveedores" name="direccion"
                        placeholder="Direccion">
                </div>
            </section>
            <section class="btn-agregar">
                <button type="button" class="btn" id="btn-cancel">Cancelar</button>
                <button type="submit" class="btn" id="btn-add-proveedores">Agregar</button>
            </section>
        </form>
    </div>
</div>

<!-- Modal editar categoria -->
<div id="myModal" class="modal">
    <div class="modal-content form-proveedores">
        <span class="close">&times;</span>
        <h2>Editar proveedor</h2>
        <form action="/editarProveedores" method="post" class="form-proveedores">
            <div class="input-proveedores">
                <input type="hidden" id="id_editar" name="id_editar" value="{{Proveedores.id}}">
                <input type="text" id="nombre_editar" class="input" name="nombre_editar"
                    value="{{Proveedores.nombre_proveedor}}">
                <input type="text" id="correo_editar" class="input" name="correo_editar"
                    value="{{Proveedores.correo_electronico}}">
                <input type="text" id="telefono_editar" class="input" name="telefono_editar"
                    value="{{Proveedores.direccion}}">
                <input type="text" id="direccion_editar" class="input" name="direccion_editar"
                    value="{{Proveedores.direccion}}">
            </div>
            <div class="btn-modal">
                <button type="button" class="btn close-modal">Cancelar</button>
                <button type="submit" class="btn" id="btn-edit-proveedores">Editar</button>
            </div>
        </form>
    </div>
</div>

<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
  <script>
    Swal.fire({
      title:'{{ messages[0][2] }}',
      text: '{{ messages[0][0] }}',
      icon: '{{ messages[0][1] }}',
      confirmButtonText: 'OK'
    });
  </script>
{% endif %}
{% endwith %}
{% endblock %}