<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/registrarse.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">


    <title>Registrarse | El Jaboncillo </title>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="login-seccion">
                <div class="container-icon">
                    <i class="material-icons-outlined account-icon">account_box</i>
                </div>
                <div class="container-loginTitle">
                    <h3>Crear nueva cuenta</h3>
                </div>
                <form class="container-input">
                    <div class="inputs-group">
                        <div class="input-shape">
                            <i class="material-icons-outlined">person</i>
                            <input class="inputs" type="text" id="user" name="user" placeholder="Nombre Completo">
                        </div>
                        <div class="input-shape">
                            <i class="material-icons-outlined">mail</i>
                            <input class="inputs" type="text" id="correo" name="correo"
                                placeholder="Correo electrónico">
                        </div>
                    </div>
                    <div class="inputs-group">
                        <div class="input-shape">
                            <i class="material-icons-outlined">lock</i>
                            <input class="inputs" type="password" id="contraseña" name="contraseña"
                                placeholder="Contraseña">
                            <i class="material-icons-outlined eye">visibility</i>
                            <i class="material-icons-outlined noneye">visibility_off</i>
                        </div>
                        <div class="input-shape">
                            <i class="material-icons-outlined">lock</i>
                            <input class="inputs" type="password" id="Ccontraseña" name="Ccontraseña"
                                placeholder="Confirmar contraseña">
                            <i class="material-icons-outlined eye">visibility</i>
                            <i class="material-icons-outlined noneye">visibility_off</i>
                        </div>
                    </div>
                    <div class="btn_login">
                        <button>CREAR CUENTA</button>
                    </div>
                </form>
            </div>
            <div class="register">
                <div class="container-img-logo">
                    <img src="/static/img/login/logoElJaboncillo.png" alt="">
                </div>
                <div class="container-title">
                    <h2>¡BIENVENIDOS!</h2>
                    <a href="/"><button class="btn-register">Inicia Sesión</button></a>
                </div>
                <div class="container-img-flowers">
                    <img src="/static/img/login/floressSignin-HDpng 1.png" alt="">
                </div>

            </div>
        </div>
    </div>
    </div>
</body>

</html>