{% extends "layout.html" %}
{% block title %}
Subcategorias | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <h2  id="saludo"></h2>
    <p>Bienvenid@, {{session["user_name"]}}</p>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="search" placeholder="Buscar subcategoria">
        </div>
        <div>
            <button class="btn-add-sub btn">Agregar subcategoria</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    {%if subcategorias == [] %}
    <div class="table-insumos">
        <h3>No hay subcategorias en la lista</h3>
    </div>
    {%else%}
    <div class="table-subcategories">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Subcategoria</th>
                    <th>Categorias</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla_subcategorias">
                {% for rows2 in subcategorias %}
                <tr>
                    <td>{{rows2.id}}</td>
                    <td>{{rows2.subcategoria}}</td>
                    <td>{{rows2.categoria}}</td>
                    <td>{{rows2.descripcion}}</td>
                    <td style="display: none;">{{rows2.id_categoria}}</td>
                    <td class="btn-acciones">
                        <button class="btn-edit btn-edit-subcategorias">
                            <i class="material-icons">edit</i>
                        </button>
                        <form action="/eliminarSubcategoria" method="post" class="form-eliminar">
                            <input type="hidden" id="id_eliminar" name="id_eliminar" value="{{rows2.id}}">
                            <button class="btn-delete" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%endif%}
    <div class="container-inputSubcat">
        <div class="agregar-subcat">
            <div class="inputSubcat-title">
                <h3>Nueva Subcategoria</h3>
                <span class="close" id="close_agregar">&times;</span>
            </div>
            <form action="/subCategorias" id="form-subcat" method="post" class="form-subcat">
                <section class="input-subcategoria">
                    <div class="input-sub-categoria">

                        <div class="input-contenido">
                            <label for="">Subcategoria</label>
                            <input type="text" id="nombreSub" class="input input-subcategories input-insumos" name="nombreSub"
                            placeholder="Nombre subcategoria">
                        </div>
                        <div class="input-contenido">
                            <label for="">Categoria</label>
                        <select class="input input-insumos input-subcategories" id="cat" name="idCat">
                            {% for rows in categorias %}
                            <option name="idCat" value="{{rows[0]}}">{{rows[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                    <div class="input-contenido">
                        <label for="">Descripción</label>
                        <textarea id="descripcion" class="input input-subcategories  input-insumos" name="descripcion"
                            placeholder="Descripcion"></textarea>
                    </div>
                </section>
                <section class="btn-agregar-subcategorias">
                    <img class="img_sub" src="/static/img/logoElJaboncillo.png" alt="logo" class="logo-btn-add">
                    <div class="btn-agregar">
                        <button type="button" class="btn-sub-eliminar" id="btn_cancel_agregar">Cancelar</button>
                        <button type="submit" class="btn btn-sun-agregar opacity" id="btn-add-subcategories" disabled>Agregar</button>
                    </div>
                </section>
            </form>
        </div>
    </div>

</div>

<!-- Modal editar subcategoria -->
<div id="myModal" class="modal-subcat">
    <div class="modal-content-subcat form-subcat">
        <div class=subcat-title>
            <h2>Editar subcategoria</h2>
            <span class="close">&times;</span>
        </div>
        <form action="/editarSubcategoria" method="post" class="form_subt">
            <div class="input-subcategories">
                <div class="input-sub-categoria">
                <div class="input-contenido">
                    <label for="">Nombre subcategoria</label>
                    <input type="text" id="nombreSub_editar" class="input input-insumos " name="nombreSub_editar">
                </div>
                <div class="input-contenido">
                    <input type="hidden" id="id_editar" name="id_editar">
                    <label for="">Categoria</label>
                    <select class="input input-insumos" id="idCat_editar" name="idCat_editar">
                        {% for rows in categorias %}
                        <option name="idCat_editar" value="{{rows[0]}}">{{rows[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
                <div class="input-contenido">
                    <label for="">Descripción</label>
                    <textarea type="text" id="descripcion_editar" class="input input-insumos" name="descripcion_editar"> </textarea>
                    
                </div>
            </div>
            <div class="btn-modal-subcat">
                <img src="/static/img/logoElJaboncillo.png" class="img-modal" alt="logo">
                <div class="btn-agregar">
                    <button type="button" class="btn btn-sub-eliminar close-modal">Cancelar</button>
                    <button type="submit" class="btn btn-sun-agregar" id="btn-edit-categories">Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}