{% extends "layout.html" %}
{% block title %}
Usuarios | El Jaboncillo
{% endblock %}

{% block main %}
<section class="bienvenida">
    <div>
        <h2 id="saludo"></h2>
        <p>Bienvenid@, {{session["user_name"]}}</p>
    </div>
    <div>
        <h3>Modulo de Usuarios</h3>
    </div>
</section>
<section class="busqueda">
    <div class="search">
        <div class="seccion-buscar">
            <i class="material-icons">search</i>
            <input class="input-search" name="search" id="buscar_usuarios" placeholder="Buscar usuarios">
        </div>
        <div>
            <button class="btn" id="btn-add-user">Agregar usuarios</button>
        </div>
    </div>
</section>
<div class="container-table-inputs">
    {%if usuario == [] %}
    <div class="table-insumos">
        <h3>No hay usuarios en la lista</h3>
    </div>
    {%else%}
    <div class="table-categories">
        <table class="table table-striped table-bordered" id="table-users">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla_usuarios">
                {% for usuario in usuario%}
                <tr>
                    <td>{{usuario[0]}}</td>
                    <td>{{usuario[1]}}</td>
                    <td>{{usuario[2]}}</td>
                    <td>{{usuario[6]}}</td>
                    <td style="display: none;">{{usuario[4]}}</td>

                    <td class="btn-acciones">

                        <button class="btn-edit btn-edit-usuario">
                            <i class="material-icons">edit</i>
                        </button>

                        <form action="/eliminarUsuarios" method="post" class="form-eliminar">
                            <input type="hidden" class="id_eliminar" name="id_usuario" value="{{usuario[0]}}">
                            <button class="btn-delete" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {%endif%}
    <div class="container-inputsUser">
        <div class="agregar-usuario">
            <div class="inputUser-title">
                <h2>Nuevo Usuario</h2>
                <span class="close" id="close_agregar_user">&times;</span>
            </div>
            <form class="formUser" action="/usuarios" id="formUser" method="post">
                <section class="input-users">
                    <div class="grupo1">
                        <div class="input-contenido">
                            <label for="">Nombre Completo</label>
                            <input type="text" id="nombre" class="input input-user input-insumos" name="nombre"
                                placeholder="Nombre completo">
                        </div>
                        <div class="input-contenido">
                            <label for="">Seleccione Rol</label>
                            <select class="input input-user input-insumos" id="rol" name="idrol">
                                {% for rol in Roles %}
                                <option name="idrol" value="{{rol[0]}}">{{rol[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="grupo2">
                        <div class="input-contenido">
                            <label for="">Correo</label>
                            <input type="text" id="correo" class="input input-user input-insumos" name="correo"
                                placeholder="Correo">
                        </div>
                        <div class="input-contenido">
                            <label for="">Contraseña</label>
                            <div class="input-forma">
                                <input type="password" id="contraseña" class="input input-user input-insumos"
                                    name="contraseña" placeholder="Contraseña">
                                <i class="material-icons eye" id="eye">visibility</i>
                                <i class="material-icons noneye" id="noneye">visibility_off</i>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="btn-agregar-user">
                    <img class="img-btn-add" src="/static/img/logoElJaboncillo.png" alt="logo">
                    <div class="btn-agregar">
                        <button type="button" class=" btn-cancel-user" id="btn-cancel-user ">Cancelar</button>
                        <button type="submit" class="btn btn-agregar-users" id="btn-agregar-user">Agregar</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<!-- Modal editar usuarios -->

<div id="myModal" class="modal-editar-usuario">
    <div class="modal-content form-subcat">
        <div class="usuario-title">
            <h2>Editar Usuario</h2>
            <span class="close close-modal-editar">&times;</span>
        </div>
        <form action="/editarUsuario" method="post" class="form_edit_user">
            <div class="input-usuario">
                <div class="grupo1">
                    <div class="input-contenido">
                        <input type="hidden" id="id_editar_usuario" name="id_editar_usuario" value="{{usuario.id}}">
                        <label for="">Nombre completo</label>
                        <input type="text" id="nombreUsuario_editar" class="input input-user input-insumos"
                            name="nombreUsuario_editar" value="">

                    </div>
                    <div class="input-contenido">
                        <label for="">Rol</label>
                        <select type="text" id="rol_editar" name="rol_editar" class="input input-user input-insumos">
                            {% for rol in Roles %}
                            <option name="idrol" value="{{rol[0]}}" selected>{{rol[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="grupo2">
                    <div class="input-contenido">
                        <label for="">Correo</label>
                        <input type="text" id="correo_editar" class="input input-user input-insumos"
                            name="correo_editar" value="">
                    </div>
                </div>
            </div>
            <div class="btn-modal">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="img-modal">
                <div class="btn-agregar">
                    <button type="button" class="btn btn-cambiar-contraseña" id="abrirModal">Cambiar contraseña</button>
                    <button type="button" class="btn close-modal btn-cancel-user">Cancelar</button>
                    <button type="submit" class="btn btn-agregar-user" id="btn-edit-usuarios">Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="modalCambiarContraseña" class="modal-editar-contraseña">
    <div class="modal-content-contraseña">
        <div class="usuario-title">
            <h2>Cambiar contraseña</h2>
            <span class="cerrar cerrarModal" id="cerrarModal">&times;</span>
        </div>
        <form action="/cambiarContraseña" method="post" class="form_cambiar_contraseña">
            <div class="input-contraseña">
                <input type="hidden" id="id_usuario_contraseña" name="id_usuario_contraseña" value="{{usuario.id}}">
                <div class="input-contenido-contraseña">
                    <label>Nueva contraseña segura:</label>
                    <div class="input-forma">
                        <input type="password" id="nuevaContraseña" name="nuevaContraseña"
                            class="input input-user input-insumos">
                            
                        <i class="material-icons show-password" id="show-password">visibility</i>
                        <i class="material-icons" id="unshow-password">visibility_off</i>
                    </div>
                </div>
            </div>
            <div class="btn-modal-contraseña">
                <img src="/static/img/logoElJaboncillo.png" alt="logo" class="img-modal">
                <div class="btn-agregar">
                    <button type="button" id="generarContraseña" class="btn btn-generar">Generar contraseña
                        segura</button>
                    <button type="button" class="btn close-modal btn-cancel-user"
                        id="cerrarModalCambiarContraseña">Cancelar</button>
                    <button type="submit" class="btn btn-agregar-user" id="btn-edit-usuarioss">Cambiar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Mostrar mensaje de éxito -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    Swal.fire({
        title: '{{ messages[0][2] }}',
        text: '{{ messages[0][0] }}',
        icon: '{{ messages[0][1] }}',
        confirmButtonText: 'OK'
    });
</script>
{% endif %}
{% endwith %}
{% endblock %}